[2016-10-05 14:40] pkieltyka opened #4 "Troubles getting started on OS X 10.12"
Hey guys, I will continue my work on Linux but I wanted to report some issues when trying to build grpc/grpc-web on 10.12. Specifically third_party/grpc (which is v1.0.0 from August) fails to build due to these errors:

[code]

[2016-10-14 19:56] joeblew99 opened #5 "golang basis"
i am really happy to see this moving forward, and have some comments.

Because its based on NGinx and c i can help test or fix things as i dont use either.
I use golang and want to point out how well golang supports GRPC, and hence i wanted to suggest that writing the GRPC-Web <---> GRPC gateway in golang would be really awesome later.

links in case anyone is curious:
Caddy reverse proxy
https://

[2016-10-21 06:54] paralin opened #6 "Node-based proxy"
Some things I am interested in doing:
- Running the proxy in a Node.JS process
- Allowing arbitrary transport to the proxy (websocket, any other two-way link like WebRTC)

[2016-10-28 14:00] adrienjoly opened #7 "Troubles getting started on OS X 10.11.6 (El Capitan)"
Hi guys,

I spent some time trying to run the examples on my Mac, but ended up quitting after getting too many errors.

I'm sharing a history of what I tried to do, and what I got.

[code]

That's just a sample of all the error I got.

At that point, I decided to call it a day.

Hope this helps you in any way.

Cheers!

[2016-11-04 12:33] mark-grimes opened #13 "Implement client side and bidirectional streaming (question)"
As I understand it, client side and bidirectional streaming are not implemented.  Is this a feature that's being worked on or is it fundamentally not possible?  Presumably this would require websockets and I don't see that being used.

[2016-11-04 23:55] #4 closed, assigned to nobody

[2016-11-11 01:40] pkieltyka opened #18 "OSX 10.12 build issues"
Hey guys,

I tried the new build scripts for 10.12, that is just `./darwin_x86_64.sh` and its certainly gotten better but I had a few issues. For one, I needed to prefix `./` before each path.. as so in this diff.

[code]

however, as this ran, during the `make` of grpc I ran into the following errors:

https://gist.github.com/pkieltyka/c0886b58de3c58af771693b45c61e163

one thing that is strange,

[2016-11-12 16:44] lucalenardi opened #19 "Problem compiling on ARM with gcc 6.1.1"
Hello!

We've got some issues while compiling on ARM (Cortex A8).

* OS is Debian Stretch
* gcc version is **6.1.1**

The problem is related to some debugging macro with `printf` and wrong `type`. Related files are `nginx_notify_queue.cc` and `nginx_http_frontend.cc`

This is the error report:

[code]

We fixed it here: https://goo.gl/Zn4OZt
Maybe this is due to the compiler version; I hope it hel

[2016-11-20 10:21] faddat opened #22 "Invitation"
can we add baabeetaa@gmail.com / @baabeetaa to this repo?  he's working on an implementation with me.

[2016-11-21 22:26] #22 closed, assigned to wenbozhu

[2016-11-22 22:51] wenbozhu opened #23 "Implement the new spec (client-side)"
Spec is now published: https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md

[2016-11-22 22:52] wenbozhu opened #24 "Bidi streaming use cases for grpc-web"
Options, use cases to enable bidi streaming support with grpc-web

[2016-11-23 09:42] joeblew99 opened #25 "dart implementation"
Great that we now have a spec and gameplan for grpc web

i would like to help on the Dart implementation. I use Dart allot now.
Just flagging it here for others:

This is the current status btw:
https://github.com/dart-lang/sdk/issues/22655

https://github.com/mkustermann/grpc-dart-poc

[2016-11-23 09:44] #13 closed, assigned to nobody

[2016-12-14 00:34] gillioa opened #29 "Node example implementation problem"
Hi,

I'm trying to run the example but instead of using the c++ server, I want to use a node server side.
When I run it with the c++ server it's working well but with a node server, it doesn't work at all.
Here is my code :
[code]

Can you tell me where I'm wrong ? I got no error on my server and the echoFunc function is not even called when I'm sending a request.

Thank you.

[2016-12-14 09:29] #25 closed, assigned to nobody

[2016-12-16 18:33] #7 closed, assigned to fengli79

[2016-12-16 18:35] #18 closed, assigned to fengli79

[2016-12-18 10:18] adrienjoly opened #31 "Trouble running examples on OS X 10.11.6 (El Capitan)"
After being able to build the project on El Capitan (https://github.com/grpc/grpc-web/issues/7), I'm having problems to run the example:

- When I run `make example`, I get a message saying that I should use the `darwin` script. So I interrupted the script, and re-ran the `darwin` script.
- To run `make` from `grpc-web/net/grpc/gateway/examples/echo`, I had to re-install `protoc` (using `brew inst

[2017-01-12 13:44] blerest opened #40 "SSL/TLS"
Hello,

I can't find a way to use SSL with GRPC web. When do you plan to implement this feature?

Thank you,
Bastien.

[2017-01-12 14:19] andreabreu-me opened #41 "Typescript support"
Is there any plans to generate typescript definition files?

[2017-01-20 18:06] lucalenardi opened #42 "ARM worker process exited – std::logic_error"
We have the following scenario:

- a **grpc** server running on an ARM device
- **nginx** (on the same device) is serving the static js files and the web page
- **nginx** is also acting as proxy for the grpc server through **grpc-web**

We are getting problems whenever trying to access the `grpc-server` from `grpc-web` in the nginx `error.log.`

**GET** and **POST** calls gets ```net::ERR_EMPTY_RE

[2017-02-04 01:05] wenbozhu opened #46 "Spec bug: trailer only responses"
The current spec follows the grpc spec to send trailers with/as response headers.

This is problematic for browser clients (or other clients too?) as headers are supposed to be dispatched atomically. I.e. the stream open will be delayed until the first message or an error status.

[2017-02-06 22:05] #46 closed, assigned to wenbozhu, fengli79

[2017-02-07 21:12] #5 closed, assigned to nobody

[2017-02-08 20:19] quiasmo opened #48 "failed to make examples on OS X Sierra"
Hey there,

I can't manage to build examples on Sierra.
As per this README,
https://github.com/grpc/grpc-web/tree/master/net/grpc/gateway/examples/echo

I add `EMBED_OPENSSL=false` on build It fails thusly:

[code]

but if I omit EMBED_OPOENSSL option, it fails thusly:

[code]

These seem unrelated, but am am I missing something?

Cheers.

[2017-02-09 23:37] ivan-sysoi opened #49 "Map deserialize binary AssertionError"
I have added map field to [echo.proto](https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/examples/echo/echo.proto).
When map key or value is 0 or False respectively, request callback is not called and no any exceptions appear in the console.

After adding try catch in `grpc.web.ClientReadableStream.prototype.on` I get `goog.asserts.AssertionError` in the `jspb.Map.deserializeBinary`.

[2017-02-12 17:28] ivan-sysoi opened #50 "Safari, refused to set unsafe header"
Echo example doesn't work in safari. In chrome, firefox everything is fine.

Console log:
[code]

[2017-02-16 20:40] #48 closed, assigned to nobody

[2017-02-16 21:10] #31 closed, assigned to stanley-cheung

[2017-02-16 21:11] #29 closed, assigned to murgatroid99, stanley-cheung

[2017-02-21 23:41] wenbozhu opened #57 "Discuss Michal's feedback on the grpc-web protocol spec"
a) Message framing of trailer
"8th (MSB) bit of the 1st gRPC frame byte"
I assume you mean the Compressed-Flag of the Delimited-Message in the wire spec?
So for an uncompressed trailer the Compressed-Flag byte would be 10000000b, and for a compressed one it would be 10000001b, right?

b) Trailers encoding
"Response status encoded as part of the response body; Key-value pairs encoded as a HTTP/1 he

[2017-02-28 00:29] wenbozhu opened #58 "Review the typescript support from the Improbable team"
"TypeScript protoc plugin for generating types objects from .proto definitions while using jsonpb marshallers (https://github.com/golang/protobuf/tree/master/jsonpb)"

@mwitkow  .. .could you fill us with more detail of how/where the current typescript support is implemented?

Then we can discuss
1. if we want to promote this to other users who are (only) interested in using typescripts with grpc-

[2017-02-28 22:14] wenbozhu opened #59 "Review the JS transport library from Improbable"
A lightweight client based off https://github.com/jonnyreeves/chunked-request

@jonny-improbable
@mwitkow

I had a look at the library and we will definitely use it as a reference when we are adding fetch support to goog.net.streams (closure).

[2017-02-28 22:31] wenbozhu opened #60 "Review the go-proxy from Improbable team"
1. spec compliance, as we are implementing the new grpc-web spec in nginx at the same time
2. feature parity, e.g. CORS, URL white-listing
3. discuss when/whether to add this proxy to grpc-contrib, in addition to the existing go-gateway, e.g. does the proxy support non-grpc-web features etc?

https://github.com/improbable-eng/grpc-web/tree/master/go/grpcweb

@zinuga
@mwitkow

[2017-03-01 14:45] mwitkow opened #61 "CORS: Dealing with gRPC Metadata in Headers and Access-Control-Expose-Headers"
So it seems that browsers only allow access to certain response headers, and the list of headers allowed is controlled through a CORS response headers: [`Access-Control-Expose-Headers`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Expose-Headers)

It is important that `grpc-status` and `grpc-message` get exposed as part of this `Access-Control-Expose-Headers`, in case w

[2017-03-03 09:18] #61 closed, assigned to wenbozhu

[2017-03-14 07:20] sulliwane opened #67 "Why need to compile grpc to use grpc-web ?"
Hello,

I don't really understand why I'm supposed to build grpc, as recommended in the readme.md?

Isn't **grpc-web** supposed to be a pure JS implementation? I yes, what are the steps to try it?

Many thanks!

note: I'm using Ubuntu 16.04

[2017-03-15 21:45] #50 closed, assigned to nobody

[2017-03-15 21:46] #67 closed, assigned to nobody

[2017-03-17 17:51] zinuga opened #73 "installation error on macos"
I am trying to install grpc-web by running sudo darwin_x86_64.sh but it fails with the following message:

Undefined symbols for architecture x86_64:
  "_well_known_types_js", referenced from:
      google::protobuf::compiler::js::Generator::GenerateFile(google::protobuf::compiler::js::GeneratorOptions const&, google::protobuf::io::Printer*, google::protobuf::FileDescriptor const*) const in js_gen

[2017-03-17 23:56] wenbozhu opened #74 "For unary responses, clients should send A-E: gzip and servers should return compressed responses"
Stanley, could you help to verify this with e2e tests?

[2017-03-17 23:57] #74 closed, assigned to stanley-cheung

[2017-03-24 22:44] #73 closed, assigned to fengli79

[2017-03-26 07:14] sulliwane opened #79 "How to reduce the size of compiled.js"
Hello,

As I understand, there are 3 main parts that make the bundle:

1. grpc-web library
2. protobuf library
3. messages and service definitions from the **.proto** file.

for a simple grpc service (10 rpc methods, 20 messages definitions), the ```compiled.js``` produced by running ```closurebuilder.py``` is around **400KB**.

Is there any way to make this bundle smaller ? Any insights on which

[2017-03-26 07:20] sulliwane opened #80 "How to use grpc-gateway with dcodeIO/protobuf.js ?"
Hello,

I'm wondering how [protobuf/js](https://github.com/google/protobuf/tree/master/js) relates to [dcodeIO/protobuf.js](https://github.com/dcodeIO/ProtoBuf.js/)? Are these two lib doing the exact same thing?

Is it possible to swap [protobuf/js](https://github.com/google/protobuf/tree/master/js) for [dcodeIO/protobuf.js](https://github.com/dcodeIO/ProtoBuf.js/)?

I'm looking for a way to have

[2017-03-26 11:17] sulliwane opened #81 "How to know if the client is using http or http2?"
I see in the nginx example that it can listen for both http and http2 calls, given two different ports:
[code]
Does it mean that the **JS grpc-web client** knows how to upgrade to http2 if the given port is http2?
If the given port when creating the client is the  http one, how the grpc-web client can support the streaming features (server push for example)?

I'm not clear on this point,

thank yo

[2017-03-27 06:56] sulliwane opened #82 "requiring compiled.js in node throws 'TypeError: Cannot read property 'navigator' of undefined'"
Hello,

when requiring the **compiled.js** file in node (the one compiled by **closurebuilder.py**, it throws with:
[code]
I'm surprised grpc-web has a dependency on the navigator.

Does it mean [grpc-web](https://github.com/grpc/grpc-web) is **browser only**?

Many thanks!

[2017-03-27 09:23] sulliwane opened #83 "How to specify a "Authorization" header when creating the service client?"
Hello,

as per the echo example:
[code]
According to the API, it seems like the client constructor accept a **credentials** and a **options** object. Is it possible to use the credentials object to set a **Authorization** header?

If yes, what the code would look like?
[code]
Many thanks!

[2017-03-27 10:24] sulliwane opened #84 "Not getting a proper base64 encoded response, but "content-type:application/x-protobuf" instead"
I'm running 2 nginx gateway:
- one on my local ubuntu 16.04 machine,
- and one on a remote centos7 machine.

**Here is the call response on the remote nginx gateway** (**Not OK**):
![selection_003](https://cloud.githubusercontent.com/assets/1733686/24351837/e128e1cc-1319-11e7-8ffa-7ec525a269a5.jpg)
![selection_002](https://cloud.githubusercontent.com/assets/1733686/24351825/da9452ec-1319-11e7-9021

[2017-03-27 11:59] mwitkow opened #85 "CORS indicator header auto indicator"
@wenbozhu we hit a little snag in our implementation.

If a user wants to expose other HTTP methods other than gRPC, the CORS handling must not accept requests other than the ones registered on the gRPC server. However, there's no way of telling what `Content-Type` the CORS pre-flight check is.

We've worked around this by:
 a) allowing the user to automatically register all methods of the gRPC se

[2017-03-28 01:10] #83 closed, assigned to stanley-cheung

[2017-03-28 01:10] #82 closed, assigned to stanley-cheung

[2017-03-28 05:27] #84 closed, assigned to fengli79

[2017-03-28 17:13] #42 closed, assigned to fengli79

[2017-03-28 17:13] #19 closed, assigned to fengli79

[2017-03-28 23:29] #81 closed, assigned to fengli79

[2017-03-29 06:41] sulliwane opened #87 "Why grpc-gateway mode is base64?"
Hello,

I'm wondering why the **nginx-gateway** is responding with **base64 strings**, instead of directly sending binary protobuf messages over the wire?

And is there a way to change the **mode=base64** to **mode=binary** when compiling the gateway (it that makes sense of course)

Thank you :)

[2017-04-06 00:26] mickeyreiss opened #90 "react native support?"
Will grpc-web officially support React Native?

[Here](http://facebook.github.io/react-native/releases/next/docs/javascript-environment.html)'s some more information about what that javascript execution environment looks like on various platforms.

Thanks!

[2017-04-10 23:36] wenbozhu opened #91 "Inter-op test for the Go middleware (from Improbable)"
See https://github.com/grpc/grpc-web/issues/60

@mwitkow

[2017-04-26 19:52] develra opened #93 "All proxy responses are getting truncated past 65335 bytes"
Heya,

We are starting to get some large payloads back through the proxy, unfortunetly it appears the proxy always truncates at 65335 bytes, leading to the proxy forwarding invalid payloads. The curl request below demonstrates the issue. The {{AUTH_TOKENS}} you can try are located here: https://paste.googleplex.com/4771580840247296
You'll need to be on GoogleA or the VPN to talk with the service.

[2017-04-28 16:32] #93 closed, assigned to stanley-cheung

[2017-05-01 23:38] kkimdev opened #95 "[Feature request] Server calling client's API."
Many popular Javascript RPC libraries support calling client's API from server, e.g., Socket IO.  It would be really great if GRPC-WEB supports that so that it can be a viable alternative to those frameworks.

I know GRPC does not support this, but since it's a pretty common pattern on web so I think it's worth to have a discussion on this.

[2017-05-20 06:45] HTChang opened #96 "Cannot build successfully on Ubuntu 12.04/14.04 based docker container"
I'am running on mac with version 10.12.4 (16E195)
and docker version 17.03.1-ce-mac12

I have trouble in building grpc-web with
ubuntu_12_04.sh
[code]

Also have trouble in building grpc-web with
ubuntu_14_04.sh
[code]

Any ideas or advises?

[2017-06-07 19:36] #95 closed, assigned to wenbozhu

[2017-06-09 17:17] wenbozhu opened #98 "Node deployment and webpack support"
Redirected from https://github.com/grpc/grpc/issues/11435

@slootzky
@murgatroid99  (you may want to close the original issue)

[2017-06-20 17:01] develra opened #100 "Making echo example fails when protoc >= 3.3.0"
$ EMBED_OPENSSL=false make

[MAKE]    Generating cache.mk
[C]       Compiling src/core/ext/transport/cronet/transport/cronet_api_dummy.c
[C]       Compiling src/core/ext/transport/cronet/transport/cronet_transport.c
[AR]      Creating /usr/local/google/home/michaelaaron/OpenSource/grpc-web/third_party/grpc/libs/opt/libgrpc_cronet.a
[AR]      Creating /usr/local/google/home/michaelaaron/OpenSource/

[2017-09-07 01:42] k2wanko opened #105 "Will commonjs support?"
Will commonjs of code generated by protoc-gen-grpc-web support?

[2017-10-29 19:27] r3h0 opened #107 ""Unsupported major.minor version 52.0" when building example"
# TL;DR
I had some issues building the "echo" example. This ticket documents some of my feedback so far.

 1. A recent Closure compiler release seems to cause failures on Ubuntu 14.04.
 2. The Pre-Requisites section says the build scripts will be sufficient, but they aren't.
 3. The instructions for using the Ubuntu 14.04 Docker container are never stated.
 4. The instructions for running the exam

[2017-12-03 15:07] lucalenardi opened #113 "Missing function due to grpc pointing to an old version"
Hello!

We are getting an issue while compiling grpc-web gateway module:

[code]

It fails due to a not declared variable `grpc_completion_queue_create_for_next`.

That function is **not defined in the grpc version that grpc-web points to**: `grpc @ a9dbc97` and it has been implemented in newer versions.

Does the requirement need to be updated in the _third_party_ module or am I missing something

[2017-12-06 04:03] #113 closed, assigned to stanley-cheung

[2017-12-06 04:08] #100 closed, assigned to fengli79

[2017-12-22 18:11] #96 closed, assigned to fengli79

[2017-12-22 18:36] wstrange opened #124 "Publish docker image for testing"
For people who want to test the gRPC-web server implementation, a pre-built docker image would be really handy

[2018-01-17 02:42] #40 closed, assigned to fengli79

[2018-01-17 02:42] wenbozhu opened #126 "Update the spec to support CORS preflight bypassing"
CORS preflight costs at least one RTT for initial requests.

To bypass preflight, we need support method and header overwrite with URL params.

File new issues for implementing the feature in the JS client library, Nginx and Envoy.

[2018-02-09 02:09] wenbozhu opened #131 "Edge/IE throttling and delaying I/O events that arrive within 50ms"
This may be a problem for the latest chunk, which may be buffered for a long time if no new chunk arrives.

Need port the closure fix to grpc-web.

[2018-02-09 02:20] wenbozhu opened #132 "Spec out the server-to-client keep-alive support (for server-streaming)"
We have implemented in-band keep-alive in Nginx gateway, but not yet ported to the new/public version.

[2018-02-21 23:42] hsaliak opened #144 "Switch license to Apache2 to be in sync with grpc"
Currently, our license is BSD, we should switch to apache before the launch.

- Apache license - https://github.com/grpc/grpc/blob/master/LICENSE
- Add authors file https://github.com/grpc/grpc/blob/master/AUTHORS

[2018-02-21 23:46] hsaliak opened #145 "Ensure that files have an apache license header"
Files distributed in the gRPC-web project need to have the apache license header.
I have provided the  header we need to use below.
This issue is to verify that all files distributed contains this header.

[code]

[2018-02-22 19:38] #144 closed, assigned to stanley-cheung

[2018-02-22 22:10] #145 closed, assigned to stanley-cheung

[2018-02-22 22:14] #124 closed, assigned to nobody

[2018-02-22 22:16] #107 closed, assigned to stanley-cheung

[2018-02-28 01:02] jonahbron opened #152 "Empty reply from server"
I'm trying to run the gateway in a Docker container, following the instructions in the Dockerfile itself.  I've pulled the repo down, and here the relevant excerpt from my Compose file.

[code]

When the container starts, I get the following output:

[code]

But when I make a request like this:

[code]

As you can see, I get no response.  And nothing shows up in the console.  My gRPC server is run

[2018-02-28 21:40] #152 closed, assigned to stanley-cheung, fengli79

[2018-03-27 01:13] n0mer commented on #41
@mwitkow any updates on this so far?

[2018-03-28 19:36] DieMyst commented on #24
Hello, I want to write about my use case of bidi streaming.
We are in the process of writing decentralized database.
So, all data is encrypted and client must follow the b-tree with encrypted keys step-by-step to decrypt each key and say in which direction should be next step.
We had good start in implementation this logic with grpc, but browser implementation without some wrappers (websocket, etc

[2018-03-28 20:20] johanbrandhorst commented on #24
Note that Imorobables grpc-web implementation has a beta bidi
implementation over websockets. https://github.com/improbable-eng/grpc-web.

On Wed, Mar 28, 2018, 20:37 Dima <notifications@github.com> wrote:

[2018-04-04 18:06] fengli79 opened #168 "Switch to kokoro for CI."

[2018-04-04 23:37] fengli79 opened #171 "Enhance the build process."
We can enhance the build process to make it faster.
1. Install gRPC and protobuf instead of build them.
2. Use latest release of gRPC and protobuf.

[2018-04-05 09:02] such opened #172 "Golang in-process gRPC-Web proxy"
Hello,
I'd be interested in an in-process gRPC-Web proxy written in Golang.
Have you already been working on that? If so would you have an estimate when it will be ready?
Otherwise, is there a spec or an example I could follow if I wanted to implement it myself? Can you estimate the time and complexity of such an implementation?

Thanks!

[2018-04-05 10:16] johanbrandhorst commented on #172
Improbable has a golang in-process proxy implemented: https://github.com/improbable-eng/grpc-web/tree/master/go/grpcweb

[2018-04-05 10:27] johanbrandhorst commented on #91
Bump. We need clarity on how this client interops with the Improbable backend proxy.

[2018-04-09 03:06] bianbian-org commented on #80
@mwitkow so is it possible to use protobuf.js just for encoding, and with your [transport](https://github.com/improbable-eng/grpc-web/tree/master/ts/src/transports)? I'm searching for a solution that with JS object <-> proto message and TypeScript support.

[2018-04-13 13:39] marco-scoppetta opened #174 "Issue building gRPC on Mac"
Hi all,

I am following the [pre-requisites readme](https://github.com/grpc/grpc-web/blob/master/INSTALL.md).

Following all the steps until `2. Install gRPC`, when I run (I am on MacOS Sierra):

`EMBED_OPENSSL=false CPPFLAGS=-DOSATOMIC_USE_INLINED=1 make`

I get:

[code]

Also if I try:
`sudo EMBED_OPENSSL=false CPPFLAGS=-DOSATOMIC_USE_INLINED=1 make install`

I get:

[code]

I am trying to build

[2018-04-13 18:17] stanley-cheung commented on #174
Apparently you don't need those 2 variables anymore.

Can you try just `make` and `sudo make install` for grpc?

[2018-04-16 20:16] #174 closed

[2018-04-16 20:18] #168 closed

[2018-04-19 11:30] aberasarte opened #176 "Add ability to send cookies cross domain"
As far as I understand, there is no way to send cross domain cookies with the current grpc-web client implementation. Looking at the code, I see that grpc-web is using xhrio to send the requests to the server but I don't see any settable property nor option in the grpc client that would enable the xhrio "withCredentials" flag.

Would it be possible to add this feature? It would be really helpful f

[2018-04-19 17:46] stanley-cheung commented on #176
This feature is in the internal version of the library. We will be glad to add it here. How do you envision using this? Should this be a call-level option? Or should it be service/stub level?

[2018-04-19 18:50] wenbozhu commented on #176
Service/stub level. It's a no-op if calls are from the same origin.

[2018-04-19 19:35] aberasarte commented on #176
Thanks for the fast reply! Sevice/stub level works for me.

[2018-04-20 16:08] gertcuykens opened #177 "kubernetes tls echo demo"
[code]
works http://localhost:8080/net/grpc/gateway/examples/echo/echotest.html

[code]

[code]
Doesn't work because somewhere http is hardcoded instead of https
![image](https://user-images.githubusercontent.com/863731/39062149-e933323e-44c6-11e8-94d4-ad982d44dcf9.png)

PS what about collaborating with https://github.com/kubernetes/ingress-nginx to have a grpc-web annotation build in?

https://gi

[2018-04-23 11:31] gertcuykens opened #178 "documentation: protoc step"
At the grpc-web core is the underlying protobuf structure, right now you have to figure it out going trough a Makefile
https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/examples/echo/Makefile#L56:1
[code]

Can we have a breakdown of the protoc step please to explaining the different proto files

Example: https://github.com/improbable-eng/ts-protoc-gen

I think the proto files you are u

[2018-04-25 20:12] carlskii opened #179 "Echo demo build failed"
I followed the instruction to build the docker image, however its failing with this:

    [HOSTCXX] Compiling src/compiler/ruby_generator.cc
    configure.ac:66: installing './ar-lib'
    configure.ac:61: installing './compile'
    configure.ac:46: installing './config.guess'
    configure.ac:46: installing './config.sub'
    configure.ac:48: installing './install-sh'
    configure.ac:48: installi

[2018-04-27 22:40] stanley-cheung commented on #179
Is it still an issue? I can't quite reproduce this. Running the docker commands on a VM seems fine.

[2018-05-03 01:34] richard-joseph-dunelm commented on #90
*Any updates, did anyone get this working working with React-Native (RN)?*

@deltaskelta Forgive me if I'm wrong but, I believe RN's code doesn't have direct access to a browser 'DOM' or XHR etc, so, it is possible that this project makes use of components not directly exposed in RN project code.

[2018-05-03 01:36] sixman9 commented on #90
Any updates, did anyone get this working working with React-Native (RN)?

@deltaskelta Forgive me if I'm wrong but, I believe RN's code doesn't have direct access to a browser 'DOM' or XHR etc, so, it is possible that this project makes use of components not directly exposed in RN project code.

[2018-05-03 02:09] wenbozhu commented on #90
It uses polyfill.

grpc-web uses Google closure as the runtime ... and the new firestore web client has proven working on RN after we fixed one incompatible behavior (in RN) related to xhr.

https://github.com/google/closure-library/issues/858

I also attempted doing a "fix" in closure, which unfortunately broke <1% gmail clients (maybe due to plugins).

So, if you are familiar with RN, do give it

[2018-05-10 01:31] atecce opened #182 "Make web plugin on Windows"
<img width="943" alt="screen shot 2018-05-09 at 9 23 50 pm" src="https://user-images.githubusercontent.com/10567112/39847512-079d2da2-53d0-11e8-9663-f8952a3891df.png">

When running `make` from `javascript/net/grpc/web` on Windows to generate the plugin, it (predictably, perhaps) fails because the `-I` flag on `g++` is configured with the Unix path `/usr/local/include`, in mind.

<img width="768"

[2018-05-10 03:03] atecce commented on #182
My work around is using Ubuntu in Docker seeing as I'm on 2016. Going to keep it open just in case you want an issue around for supporting Windows

[2018-05-11 19:42] atecce opened #183 "Client throws base64 encoding error on RPC call"
Given the following sample web page

[code]

A JavaScript error is thrown at `client.get` with the following stacktrace.

[code]

I'm a little puzzled by the method signature of `client.get`. Are there any docs which point me in the direction of what the empty object in the second parameter is doing?

[2018-05-11 21:47] stanley-cheung commented on #183
Can you show me your .proto definition please?

[2018-05-11 21:48] atecce commented on #183
sure thing! omw home now. i’m mobile.

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Stanley Cheung <notifications@github.com>
Sent: Friday, May 11, 2018 5:47:08 PM
To: grpc/grpc-web
Cc: Alex Tecce; Author
Subject: Re: [grpc/grpc-web] Client throws base64 encoding error on RPC call (#183)

Can you show me your .proto definition please?

—
You are receiving this

[2018-05-11 21:50] stanley-cheung commented on #183
Just to confirm, you have compiled our nginx module and run that as proxy. The :50051 port is your nginx port right? And have you tried to run the Echo example that comes with this repo?

Btw, the 2nd parameter of the generated RPC call is `metadata`, may be relevant if your server is expecting them. Otherwise you can leave it empty.

[2018-05-11 21:51] atecce commented on #183
no. i’m not running the nginx proxy. just hitting a service defined in C#

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Stanley Cheung <notifications@github.com>
Sent: Friday, May 11, 2018 5:50:47 PM
To: grpc/grpc-web
Cc: Alex Tecce; Author
Subject: Re: [grpc/grpc-web] Client throws base64 encoding error on RPC call (#183)

Just to confirm, you have compiled ou

[2018-05-11 21:55] stanley-cheung commented on #183
Yea that won't work. grpc-web currently cannot talk to a gRPC backend server directly because of various browser limitations. So the grpc-web client currently talks a "grpc-web" protocol, which needs translation. A reference proxy implementation is included in this repo as a custom module of Nginx. So you need to compile the Nginx that comes with this repo so that the grpc-web client request can b

[2018-05-11 21:56] atecce commented on #183
heh. that will do it. thanks so much! i’ll get to work on that

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Stanley Cheung <notifications@github.com>
Sent: Friday, May 11, 2018 5:55:59 PM
To: grpc/grpc-web
Cc: Alex Tecce; Author
Subject: Re: [grpc/grpc-web] Client throws base64 encoding error on RPC call (#183)

Yea that won't work. grpc-web currently cannot t

[2018-05-11 21:57] stanley-cheung commented on #183
See the Echo example here: https://github.com/grpc/grpc-web/tree/master/net/grpc/gateway/examples/echo

[2018-05-11 21:59] stanley-cheung commented on #182
Sorry currently Windows is not supported. Due to resource and priorities, it will probably be a while we get to this :)

[2018-05-11 22:01] atecce commented on #182
np. just to be clear, this doesn’t preclude me deploying an nginx grpc-web service on windows, yes? just building the js client

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Stanley Cheung <notifications@github.com>
Sent: Friday, May 11, 2018 5:59:15 PM
To: grpc/grpc-web
Cc: Alex Tecce; Author
Subject: Re: [grpc/grpc-web] Make web plugin on Windows (#182)

Sorr

[2018-05-12 19:39] #183 closed

[2018-05-14 03:15] zaucy opened #184 "[protoc-gen-web-grpc] Invalid output from proto files without package specified"
A proto file that does not specify a package would result in invalid js files that contain similar to this:

[code]

[2018-05-14 19:25] jonahbron commented on #183
@atecce There's also a GRPC-Web proxy implemented in Go by Improbable, available here:

https://github.com/improbable-eng/grpc-web/tree/master/go/grpcwebproxy

I found it a bit easier to set up.

[2018-05-14 19:30] atecce commented on #183
heh. yeah! static binaries. such is the Way of Unix :D

[2018-05-15 13:28] chrizSer opened #187 "Echo example does not seem to work"
Conf nginx 1.14.0

when i run the example i got an error in the nginx error.log

2018/05/15 14:04:51 [error] 8544#13040: *1 upstream rejected request with error 2 while reading response header from upstream, client: 127.0.0.1, server: localhost, request: "POST /message.Completion/ListenCompletion HTTP/1.1", upstream: "grpc://172.27.124.18:50051", host: "localhost:8090", referrer: "http://localhost

[2018-05-15 17:33] stanley-cheung commented on #187
Did you compile the Nginx from this repo?

[2018-05-16 06:57] chrizSer commented on #187
No,
I have download the 1.14.0 linux and windows version and no one is working.

Do you mean I need to pull the last revision in order to try the echo example ?

Regards,

Christophe

De : Stanley Cheung [mailto:notifications@github.com]
Envoyé : mardi 15 mai 2018 19:34
À : grpc/grpc-web <grpc-web@noreply.github.com>
Cc : GERZE Christophe <Christophe.GERZE@sercel.com>; Author <author@noreply.githu

[2018-05-16 17:20] stanley-cheung commented on #187
Yes there's a special module that needs to be compiled into Nginx in order for grpc-web requests to be interpreted and proxied to the backend gRPC server.

Please follow the instructions on this page: https://github.com/grpc/grpc-web/tree/master/net/grpc/gateway/examples/echo

[2018-05-16 17:20] #187 closed

[2018-05-28 14:14] haasted commented on #105
@jaytaylor : Could you share the `protoc` command you used? I´ve been unable to generate the client code as a commonjs-module.

[2018-05-29 20:25] ravihugo opened #189 "Stalled project?"
I'm not trying to throw shade, but... obviously a lot of people are being walked through gRPC by google advocates, and this project is extremely key to understanding how to move forward with grpc in websites or simply in phonegap/react-native style apps that use REST still. How shall we migrate away from REST when so many items seem to be hinged up on this project that isn't really moving forward?

[2018-05-30 20:35] stanley-cheung commented on #189
Sorry for the delay. Are there specific features that your use case is waiting on? We are working on some of the features we set out in the [spec](https://github.com/grpc/grpc-web/blob/master/PROTOCOL-WEB.md). For example, we will be adding support to suppress CORS preflight requests shortly. (Second bullet point of https://github.com/grpc/grpc-web/blob/master/PROTOCOL-WEB.md#cors-support) We are

[2018-05-30 22:50] ravihugo commented on #189
I think my use-case is generally in need of the following:
* typescript protoc output.
* JS streams (without callbacks) would be nice, for example using RX Observables would likely fit the streaming bill nicely.
* Windows/Mac localhost development model (without docker) - Presumably without running nginx locally or some other web server for local development.

[2018-05-30 23:33] IanDuncanson commented on #189
I would second the feedback above. I think the reliance on nginx is problematic for us (we deploy on Windows, nginx is slow and not approved for our servers). I think the approach taken by improbable for the proxy is at least a lot more scalable and easier to deploy in multiple environments. And the typescript output is invaluable for front end web development.

[2018-05-31 06:05] glerchundi commented on #189
Same opinion here.

Additionaly it would be more than interesting to have javascript grpc-web client published as a commonjs module in npm registries.

[2018-05-31 06:16] johanbrandhorst commented on #189
Nginx as the proxy choice has been a major headache for me as well. Personally I would welcome more of a joint approach with Improbable and ideally move any features of this proxy to theirs and focus development in one place. The fact that two options exists and they basically live in isolation of each other is bad for the community and adoption of either project. Maybe settle on ONE proxy and rel

[2018-06-01 19:47] wenbozhu commented on #189
@ravihugo Thanks for the feedback!

TS and better streaming APIs (i.e. besides the Node streams) are on the road-map.

Unlike other languages, grpc-web/JS is being developed internally for Google/Alphabet's own projects first. This limits how quickly we are able to release features for OSS users. At the same time, web ecosystems are prolific in every layer ... E.g.  Google closure support is a mus

[2018-06-02 09:33] Isko97 commented on #90
I tried to get it working with React Native.
`var proto = require("./compiled.js");

export default class App extends React.Component {
    constructor(props){
        super(props);

        var service = new proto.proto.EchoServiceClient("http://localhost:8080");
        var unary_request = new proto.proto.EchoRequest();
        unary_request.setMessage("SvenGeorg");
        service.echo(unary_re

[2018-06-02 10:32] Isko97 commented on #90
I tried to get this running with React Native.
Snippet of my App.js
`var proto = require("./compiled.js");

export default class App extends React.Component {
    constructor(props){
        super(props);

        var service = new proto.proto.EchoServiceClient("http://localhost:8080");
        var unary_request = new proto.proto.EchoRequest();
        unary_request.setMessage("Test");
        ser

[2018-06-02 21:33] IanDuncanson commented on #189
Making Envoy the default proxy does not help us poor souls who have Windows backends, in fact it makes it impossible

[2018-06-04 06:02] stanley-cheung commented on #90
Did you compile Nginx from this repo or you use a standard Nginx?

[2018-06-05 19:43] Isko97 commented on #90
I followed the instruction of the INSTALL.md and of the echo example. The nginx version is nginx/1.11.13.

[2018-06-05 21:31] wenbozhu commented on #189
Add an Envoy developer just passed me this

https://github.com/Microsoft/envoy

[2018-06-06 00:45] stanley-cheung commented on #179
Closed due to inactivity.

[2018-06-06 00:45] #179 closed

[2018-06-06 01:05] stanley-cheung commented on #23
This is done.

[2018-06-06 01:05] #23 closed

[2018-06-06 01:11] IanDuncanson commented on #189
@wenbozhu thanks for this link, very interesting. We use mainly C# and C++ on our backend, but our GRPC services are C++. I will try build this up and give it a go.

[2018-06-06 01:21] #49 closed, assigned to stanley-cheung

[2018-06-07 20:48] yfeng72 opened #192 "Support for recursive definitions in proto files"
When using the grpc-web protoc plugin, the files generated need to be packed using Closure Compiler. Unfortunately it doesn't really support recursive definitions of protobuf messages, i.e.
[code]

To represent data structures that are similar to JSON, the structure above is needed. The C++ plugin of protoc supports it, but Closure Compiler does not.

The feature request is to enable such a struct

[2018-06-10 14:28] shineabel opened #194 "Make web plugin on centos6"
When running make from javascript/net/grpc/web on centos6 to generate the plugin, it  fails.

g++ grpc_generator.o -L/usr/local/lib -lprotoc -lprotobuf -lpthread -ldl -o protoc-gen-grpc-web
/usr/bin/ld: cannot find -lprotoc
collect2: error: ld returned 1 exit status
make: *** [protoc-gen-grpc-web] Error 1

[2018-06-10 23:48] #194 closed

[2018-06-11 03:38] shineabel opened #195 "Uncaught ReferenceError: proto is not defined"
after include the compiled.js in a html file and running,I got this error:
Uncaught ReferenceError: proto is not defined

[2018-06-13 17:11] shanshanzhu commented on #24
@johanbrandhorst the improbable beta bidi version is really premature. It is not documented and has no example code. All it does is just exporting a transport function with websocket, but doesn't really wire it up with grpc. If I miss something (i.e. branch) there, could you help point me to the right place of code? Thanks!

 https://github.com/improbable-eng/grpc-web/blob/709b592779c35e17f581f9bf

[2018-06-13 17:22] johanbrandhorst commented on #24
@shanshanzhu the websocket proxy implementation is good. It wraps the Go http.ResponseWriter and io.Reader interfaces with websocket read/writes and passes the request to the gRPC Go implementation, so the wire protocol is pure gRPC-over-http2-over-websockets. Take a look at the implementation, it's beautiful :heart_eyes: https://github.com/improbable-eng/grpc-web/blob/72eb701d6f320ca324b3347c7925

[2018-06-15 22:10] wenbozhu commented on #24
Re: websockets, we would welcome all the gateways that provide inter-operability with gRPC end-points.

WS over HTTP/2 is being finalized and will be available in Chrome. We will evaluate if it makes sense to make WS a transport for grpc-web (but the bar to deploy this for Google's web apps will be high) and there will be details such as ping-pong, half-close etc to spec out ...

[2018-06-16 12:26] glerchundi opened #197 "feature request: grpc-web client in commonjs + npm package"
We found lots of issues when trying to integrate the current gRPC Web Client implementation into our stack because we (and probably most of the non-Googlers) don't use Google Closure for nothing.

I would like to see the client library released in npm and commonjs compliant which probably would solve all the issues we've had. Javascript Protocol Buffers generator already supports commonjs so it se

[2018-06-16 20:15] benmccann opened #198 "Relationship with grpc-gateway"
Hi, I'm having a hard time understanding the difference between this project and [grpc-gateway](https://github.com/grpc-ecosystem/grpc-gateway)

What is it that nginx/envoy are being used for in this project?

Why do we need a JavaScript client library? Is the goal of this project to parse binary protobuf instead of json provided by grpc-gateway? If so, why? Is that more performant? Do you have an

[2018-06-17 10:57] #195 closed

[2018-06-18 16:37] jonahbron commented on #197
My project is using Improbable's GRPC client and proxy (CommonJS), and it's working really well.  Might pay off to use it until this official implementation matures a bit more for external use.

[2018-06-18 16:43] jonahbron commented on #198
grpc-gateway exposes a RESTful/JSON API, which is more easily integrated in some cases.  GRPC-Web is a spec patch that makes GRPC/Protobuf communication possible that isn't with the base GRPC spec.

The actual spec doc will make things more clear:

https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md

[2018-06-18 19:24] glerchundi commented on #197
@jonahbron thanks for the pointers but we prefer to stick with an official development of grpc-web although it's in closure instead of relying on a third-party implementation.

[2018-06-18 23:57] wenbozhu commented on #198
@benmccann   To add to what Jonah said, we have no plan to generate openapi specs etc as part of the current gprc-web project. The binary protobuf messages are not necessarily more performant than JS but it allows us to pass the messages directly to a grpc server end-point.

In google, we  use a JSON compatible format under the same protobuf API for grpc-web, but the format is not yet open-sourced

[2018-06-18 23:57] #198 closed

[2018-06-27 08:29] ademcan commented on #90
I am also trying to get the grpc-web running on React-Native to avoid using code duplication for iOS and Android. I managed to generate the compiled.js file but everytime I want to "load" it I have an error. I tried both of the following options:
import './compiled.js';
var proto = require('./compiled.js');
But none of these work.
Did someone here managed to use the grpc-web with RN.
Thank you for

[2018-06-27 23:20] carl-mastrangelo opened #200 "FR: Support bazel builds"
It would be really nice if grpc-web could be exposed as a js_library for bazel.  There are already some initial rules for closure_js_library rules here: https://github.com/bazelbuild/rules_closure

cc @stanley-cheung

[2018-06-29 12:56] aberasarte opened #201 "Communication error handling"
I’ve built a simple grpc-web demo and I would like to show a modal window if there is any communication error during the grpc call. The problem is that if the HTTP request fails because the server is down or any other communication issue, the callback passed to the grpc web client is not being executed with the error object populated as I would expect. I see that the xhrio.send method fails but th

[2018-07-11 11:02] n0mer commented on #197
@wenbozhu good news, thanks - looking forward as well!

[2018-07-11 11:03] n0mer commented on #105
@k2wanko #197

[2018-07-11 11:05] n0mer commented on #85
@stanley-cheung reviewed this, so @mwitkow review is not necessary and this issue can be closed?

[2018-07-11 18:36] #85 closed

[2018-07-12 03:13] stanley-cheung commented on #197
May I ask the community what the expectation for this feature request is?

1. Right now, the JS code in the core / generic gRPC-Web library (i.e. stuff in this directory https://github.com/grpc/grpc-web/tree/master/javascript/net/grpc/web) uses the `goog.module`, `good.require` include style. I can certainly make them commonjs style (i.e. `require`, `module.exports`). Is that what's expected here?

[2018-07-12 05:01] zaucy commented on #197
Having the option for the import style to be commonjs and having all common-functionality in an npm module is what my expectation would be. Here's a simple example:

[code]

Instead of accessing like this

[code]

This way I wouldn't need to run the closure compiler. I could just have my generated js files locally in my project or in it's own private npm module itself. This was integrates really n

[2018-07-12 07:53] zaucy commented on #197
Precisely and yes!

Other build solutions can achieve similar dead code removal with the commonjs imports/exports. Webpack tree shaking, rollup, uglifyjs etc.

Completely understand.

Would it make sense if there was an `import_style` (similar to the `--js_out=import_style=commonjs`) option and it was set to `commonjs` that it would use the runtime dependency?

[2018-07-12 23:00] wenbozhu opened #205 "When errors are generated by Envoy, set the HTTP status code accordingly such as 503"
This is considered a browser specific feature.

https://github.com/grpc/grpc-web/blob/master/BROWSER-FEATURES.md

[2018-07-16 10:49] oferb opened #207 "How does auth work?"
I'm wondering how auth works in grpc-web.
I searched for `auth` and `token` in the repo and didn't find anything.

Thanks!

[2018-07-16 23:21] #201 closed

[2018-07-16 23:22] #189 closed

[2018-07-17 07:17] inyourpc opened #208 "docker-compose up not working"
I am running docker on windows, docker installation was successful, however,
docker-compose up

`docker-compose up
Creating network "grpcwebmaster1_default" with the default driver
Building prereqs
Step 1/7 : FROM ubuntu:16.04
16.04: Pulling from library/ubuntu
Gracefully stopping...`

Threw error,

Also after navigating to /net/grpc/gateway/examples/echo
and running
 docker build -t grpc-web:echo

[2018-07-20 20:53] stanley-cheung commented on #207
Auth is orthogonal to gRPC-Web. Depending on your auth scheme, you obtain a token or a key separately and set them as key:value in the `metadata` argument per-RPC call.

We might have to provide a way to turn `WithCredentials` to `true` in the underlying transport but so far we haven't found a compelling and common use case yet.

[2018-07-20 20:53] #207 closed

[2018-07-20 20:54] stanley-cheung commented on #208
Is there someone from the community that can help with this Windows issue? Sorry I don't have the bandwidth to support clients installed on Windows for now.

[2018-07-20 20:59] stanley-cheung commented on #197
Yes I can add this option to the codegen plugin. I still need to figure out how to make two different styles of require's co-exist in the core library though.

[2018-07-20 21:01] stanley-cheung commented on #192
Sorry for the late reply. Is this more of an issue for [protobuf](https://github.com/google/protobuf)?

[2018-07-20 21:03] stanley-cheung commented on #177
We have switched the default proxy from Nginx to Envoy. Envoy supports gRPC-Web out of the box. A sample envoy config file can be found [here](https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/examples/echo/envoy.yaml).

Will this make it simpler to build a Kubernetes demo out of?

[2018-07-20 21:04] #171 closed

[2018-07-20 21:05] stanley-cheung commented on #105
Merging this to #197

[2018-07-20 21:05] #105 closed

[2018-07-22 21:37] gertcuykens commented on #177
Wait because ingress-nginx want to support that too https://github.com/kubernetes/ingress-nginx/issues/2391 out of the box but it seems that it's not straight forward to do so. If you manage to figure it it out in your first nginx approach can you please transfer your knowledge to your own google team members please so team ingress-nginx can pic it up from there. Also did you create a nginx ticket

[2018-07-25 19:19] stanley-cheung commented on #177
Sorry I misunderstood. I thought this is about creating a demo with *any proxy.

We still kept the nginx code so they should still work.

[2018-07-27 01:47] zaucy commented on #197
I've created 2 pull requests that include an npm module for grpc-web runtime as well as protoc plugin changes to support commonjs (#210 and #211 respectively.) They were converted from my local build that have the prefix `@grpc-gen/`. Additionally I have a demo that uses the runtime here: https://github.com/zaucy/grpc-chat-demo (with the `@grpc-gen/` prefix)

[2018-07-27 02:47] #200 closed

[2018-08-01 08:50] johanbrandhorst commented on #91
I desperately think this needs to be completed before GA (if you're still aiming for October).

[2018-08-01 19:03] Brahmasmi opened #213 "Support Dart / AngularDart"
I am aware that the current Roadmap [1] mentions the following in terms of gRPC web and Dart / AngularDart
[code]

However, in a recent reply [2] on the issue for tracking the gRPC web implementation for gRPC Dart / AngularDart , @kevmoo mentioned the following in reply to @gedw99's update request:
[code]

Users of AngularDart have been counting on gRPC Dart supporting gRPC-web in order to finally

[2018-08-02 21:58] #197 closed

[2018-08-04 20:26] stanley-cheung commented on #91
Added a demo to show interoperability with the Improbable gRPC Web Go Proxy
[code]

[2018-08-04 20:26] #91 closed

[2018-08-05 06:43] ewang opened #220 "Question: response metadata"
Is there currently a way to access response metadata sent by the server?

[2018-08-05 15:44] nhooyr commented on #24
@johanbrandhorst does this mean there is a client side grpc-http2 implementation thats reading everything from the web sockets?

[2018-08-05 16:11] nhooyr commented on #24
@wenbozhu My use case for bidirectional streaming is for a online game where the client is sending message based on what the user is doing and the server is sending messages to clients to broadcast all events. I could just do this over plain web sockets with protobuf but it'd definitely be nice to see support for this. Can we implement something similar to what @johanbrandhorst noted in improbable

[2018-08-05 21:31] johanbrandhorst commented on #24
I don't think we should implement this in this repo until we have request streaming in Fetch. There is a third party, non-spec implementation that users can use if they need bidi streaming before then.

[2018-08-06 01:29] nhooyr commented on #24
@johanbrandhorst the issue with that is Fetch will only work on bleeding edge browsers. I think its a pragmatic idea to include WebSockets over HTTP/1.1 as a fallback.

[2018-08-06 09:17] johanbrandhorst commented on #24
I disagree. This will by necessity be bleeding edge tech. The spec talks about eventually speaking the HTTP2 protocol, which is not supported by todays browsers. I don't think the aim of this project is to provide backwards compatibility to old browsers.

[2018-08-06 17:02] wenbozhu commented on #24
grpc-web does intend to support important browser use cases, i.e. features, versions, environments etc ... and the current spec is implementation details but important.

I don't necessarily agree tunneling grpc/http2 over websockets is a good or sane idea, and you are going to run into issues such as flow-control, half-close etc, to name a few.

One of the problems with websockets is that connecti

[2018-08-06 17:26] johanbrandhorst commented on #24
@wenbozhu 403 on that document Im afraid

[2018-08-06 17:36] stanley-cheung commented on #220
For streaming calls, you can register a callback to the `status` event, like this: https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/examples/echo/echoapp.js#L73

For unary calls, that's not currently exposed, and we should probably do something about it :)

[2018-08-06 18:29] Yannic opened #223 "Use official release of rules_closure"
[closure_grpc_web_library](https://github.com/grpc/grpc-web/pull/219) requires a patch for rules_closure which has not been merged into their master branch yet (https://github.com/bazelbuild/rules_closure/pull/278).

@stanley-cheung Can you assign this to me so I remember to create a PR for this when the PR in rules_closure is merged?

[2018-08-07 02:45] stanley-cheung commented on #79
Now that our [`grpc-web` NPM package](https://www.npmjs.com/package/grpc-web) is live, there should be more ways to compile, compact, uglify, minimize, etc, the compiled JS files. If this is still a concern, please re-open.

[2018-08-07 02:45] #79 closed

[2018-08-07 18:12] nhooyr commented on #24
Couldn't flow control be implemented at the grpc-web level? Likewise with half close?

In what way is the connectivity of WebSockets not guaranteed?

The issue with that would be the constant authentication checks on every single message (of which there would be a lot) when doing an RPC. A bidirectional stream completely avoids this by only authenticating the connection at the start. I guess I cou

[2018-08-07 18:35] stanley-cheung commented on #192
I looked into this more closely and think that nested message (and other protobuf features) seems to work here.

See PR #226 for a more detailed demo.

I added a more elaborate proto structure to our Echo demo:

[code]

Here there are multiple-layer nested messages, oneof's, repeated field, and a mixture of those features. I am able to set these fields from JS (generated code from the standard jav

[2018-08-07 18:43] stanley-cheung commented on #192
OP clarified that this is about recursive definitions in proto messages, not just nested. Will investigate more.

[2018-08-07 21:28] stanley-cheung commented on #192
Yes indeed. I made another demo (#227) which features some recursive proto definitions:

[code]

This does work with the CommonJS style import. This pieces of JS code output `node1.val = node1`.

[code]

And I am indeed able to reproduce the error with the Closure compiler:

[code]

A search shows that it has been [an open issue](https://github.com/google/closure-compiler/issues/1883) on the Closu

[2018-08-07 21:28] #192 closed

[2018-08-08 03:46] nhooyr commented on #24
If that happens, there should be no fallback. Just throw an error. Its unfortunate but welp. I think in the vast majority of cases, web sockets work fine.

Wouldn't grpc/http2 over web sockets take care of half close and flow control?

[2018-08-08 04:07] alexcpn opened #231 "documentation:gprcweb options"
In https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/examples/echo/tutorial.md
the option is wrongly given as

`$ protoc -I=. --plugin=protoc-gen-grpc-web=<path to plugin> \
  --grpc-web_out=out=echo.grpc.pb.js,mode=grpcwebtext:. ./echo.proto`

which gives the error
`--grpc-web_out: my.proto: options: invalid mode - grpcwebtext`

correct option seems to be `mode=grpcweb` which is worki

[2018-08-08 04:51] stanley-cheung commented on #231
Can you try recompiling the grpc-web protoc plugin? The `mode=grpcwebtext` was only recently added. Here's part of our continuous testing: https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/docker/commonjs_client/Dockerfile#L24 which is using `mode=grpcwebtext`.

There are other outdated part for `tutorial.md` but `mode=grpcwebtext` should be correct. Can you please try again?

[2018-08-08 05:18] graup opened #232 "npm/commonjs, where to find protoc-gen-grpc-web?"
Hi! I've been following the recent conversation and am glad to see support already merged. Great work!

I followed the quickstart in the module's readme, but I can't seem to find how to reference the `protoc-gen-grpc-web` plugin.

If I just run the example

[code]

It complains that "protoc-gen-grpc-web: program not found or is not executable".

Where can I get this plugin from? Do I have to compi

[2018-08-08 05:25] stanley-cheung commented on #232
Actually, looks like you are coming from the documentation from the npmjs website. Then you actually have to `git clone` this repository to get the code. The `make plugin` command I mentioned earlier was from this repository's root directory.

Sorry it wasn't very user friendly for now. We are working to polish on a lot of these fronts.

[2018-08-08 05:33] graup commented on #232
Alright, thanks for the quick reply. I understand that this is still a beta version :)

Building the plugin seems to work pretty easily. I added a line to the readme: #233

[2018-08-08 06:50] #232 closed

[2018-08-08 18:27] wenbozhu commented on #24
grpc/http2 only passes the payload over websockets, not http/2 itself .. but if the latter is the case, I really don't know how to reason about this.

In any case, I'd agree that ws over http2 will make ws a viable transport for grpc-web (only).

[2018-08-08 22:25] nhooyr commented on #24
Ah that sounds fine to me. I see what you mean now. We'd need a small wrapper protocol around websockets as well.

[2018-08-09 02:56] lionelee opened #237 "require not working in ES6"
When I use `const {EchoRequest} = require('./generated/echo_pb.js'); ` in ES6 module,

I got the following error:
`recorder_service_pb.js?bd75:200 Uncaught TypeError: Cannot assign to read only property 'exports' of object '#<Object>'`

[2018-08-09 04:11] stanley-cheung commented on #237
Looks like you can't mix ES6 `import` with CommonJS `module.exports`. ES6 is not supported by [protobuf](https://github.com/google/protobuf/tree/master/js) yet.

[2018-08-09 06:00] #231 closed

[2018-08-09 17:58] stanley-cheung commented on #237
Added a note to main [README](https://github.com/grpc/grpc-web#import-style) that ES6 style `import` is not supported yet.

[2018-08-09 17:58] #237 closed

[2018-08-09 17:58] #220 closed

[2018-08-10 03:07] #98 closed

[2018-08-13 07:29] rwlincoln opened #244 "CommonJS require paths when proto files are in subdirectories"
Lets say we have `.proto` files organised into directories:
[code]
Generating code involves including the `apis` directory:
[code]
The generated code might be output to:
[code]
The `google/protobuf` and `grpc/grpc` plug-ins generated `require` calls like this:
[code]
However, the `grpc-web` plug-in generates `require` calls like this:
[code]
The generated `require` paths should account for the dir

[2018-08-13 10:45] rwlincoln opened #245 "Support compiling multiple .proto files with a single command"
`protoc` supports passing multiple `.proto` files with a single call. Typically, the output directory is specified and the file names are based on the names of the `.proto` files.

Currently, if more than one `service` is defined in more than one `.proto` file, `protoc` returns an error:

[code]

[2018-08-13 16:36] rwlincoln commented on #245
That issue refers to:

I have a single package that is defined across multiple `.proto` files in the same directory. Compiling them works unless there are services defined in more than one of the `.proto` files. In that case, the above error is returned.

[2018-08-13 17:27] johanbrandhorst commented on #245
Ah ok, slightly different issue then. Sorry for any confusion.

[2018-08-14 06:25] rwlincoln commented on #245
Here is an example with two separate services defined in the same package. It also relates to #244:

`apis/myproject/mayapi/v1/service-a.proto`

[code]

`apis/myproject/mayapi/v1/service-b.proto`

[code]

With `wrappers.proto` vendored into `apis/google/protobuf/wrappers.proto`. It should be possible to call `protoc` like this:

`$ protoc -I./apis  ...  ./apis/myproject/mayapi/v1/service-a.proto .

[2018-08-15 06:43] rwlincoln commented on #244
That is correct. I would like the generated `grpc-web` code to be in the same directory as all the other generated JS code (Protobuf, gRPC, TypeScript definitions) for that package. For example:

[code]

As you point out, the `grpc-web` code can be placed in the top-level `src` directory and the `require` path is valid. However, when dealing with several APIs, with the goal of publishing the sourc

[2018-08-15 08:07] rwlincoln commented on #244
As in https://github.com/grpc/grpc-web/issues/245#issuecomment-412767686, in order to maintain the current behaviour, the `out=` configuration option could be made optional and when omitted the plug-in could be made to work in a way that is consistent with the `google/protobuf` and `grpc/grpc` plug-ins.

[2018-08-18 10:49] CodebyOmar opened #250 "Compling "protoc-gen-grpc-web" on windows."
After spending hours trying to figure out how to run make command on windows powershell, i finally figured it out, but i still couldn't compile the **protoc-gen-grpc-web** plugin. This is the error i get when i run ```make plugin```.

[code]

[2018-08-18 11:32] CodebyOmar commented on #250
Tried it on git bash and i'm now having a different error.

[code]

[2018-08-18 22:50] stanley-cheung commented on #250
Unfortunately Windows is not currently supported well. The `Makefile` above is not supposed to work on Windows yet. Instructions like `-I/usr/local/incude` to try to find the protobuf headers is very 'linux'-centric.

[2018-08-18 22:52] CodebyOmar commented on #250
If I compile it on Linux, can I be able to use to plugin on windows? 🌚🤔

[2018-08-20 17:41] #245 closed

[2018-08-20 22:08] Yannic commented on #250
@CodebyOmar I doubt that compiling on Linux and running on Windows will work.
You might be able to compile the plugin on Windows using [Bazel](https://docs.bazel.build/versions/master/windows.html).

`bazel build --compilation_mode=opt //javascript/net/grpc/web:protoc-gen-grpc-web`
The compiled plugin will be located at `bazel-bin/javascript/net/grpc/web/protoc-gen-grpc-web`.

[2018-08-21 06:41] CodebyOmar commented on #250
Okay @Yannic I’ll try that

[2018-08-21 13:51] aberasarte opened #255 "Add Typescript definition file for the grpc-web npm package"
Now that the grpcweb runtime is available as an npm package 🎉 🎉 , it would be even better if the package could include a Typescript definition file as well. This way, it would be much easier to consume the grpcweb runtime from Typescript code.

If this isn't feasible I'm thinking about submitting a d.ts file to [definitely typed](https://github.com/DefinitelyTyped/DefinitelyTyped) but this is not

[2018-08-21 14:46] dshuffma-ibm opened #256 "JS error in docker-compose demo"
Running the docker-compose setup I get this JS error when submitting my text:

![image](https://user-images.githubusercontent.com/16085295/44408778-07efc480-a52f-11e8-884f-df78624ff596.png)

The dummy websever seems to run fine, no 404s:
![image](https://user-images.githubusercontent.com/16085295/44408945-64eb7a80-a52f-11e8-882d-6aa9b6d5e21f.png)

- docker compose command: `docker-compose up echo-

[2018-08-21 17:43] stanley-cheung commented on #256
Hm, I cannot quite reproduce this. It runs fine in my Firefox. The docker image seems to be brought up, but there seems to be some sort of problem when compiling the JS with webpack?

What happened if you try to run `docker-compose up echo-server envoy closure-client`?

[2018-08-21 18:42] jonahbron commented on #255
I might be able to contribute a new file with the basic outline this week.

[2018-08-21 19:48] glerchundi commented on #255
This would be fantastic!

On Tue, 21 Aug 2018 at 20:42, Jonah Dahlquist <notifications@github.com>
wrote:

[2018-08-21 20:08] dshuffma-ibm commented on #256
@stanley-cheung ha... try clicking the blue "send" button instead of hitting enter!

[2018-08-21 20:44] stanley-cheung commented on #256
Got it. Nice find! :) #257

[2018-08-21 21:04] #256 closed

[2018-08-22 10:49] stanley-cheung commented on #255
I started a PR #258 to show how the `index.d.ts` might work. Any feedback appreciated!

[2018-08-23 18:59] jnehlmeier opened #261 "The quick Echo example isn't quick"
I really just wanted to try the demo as it says "Try gRPC-Web and run a quick Echo example from the browser!". However after writing `docker-compose up echo-server envoy commonjs-client` into console I am now sitting here and watching `make` to build things. I have no idea how long it will take.

You should really provide a demo using containers that have pre-build binaries so that the "quick Echo

[2018-08-24 23:08] stanley-cheung commented on #250
See also #186

[2018-08-24 23:08] stanley-cheung commented on #182
Folding this into #250

[2018-08-24 23:08] #182 closed

[2018-08-24 23:53] #41 closed

[2018-08-24 23:55] #60 closed

[2018-08-24 23:55] #59 closed

[2018-08-24 23:55] #58 closed

[2018-08-24 23:56] #57 closed

[2018-08-24 23:58] stanley-cheung commented on #255
PR #258 merged. The `index.d.ts` typings should be making it into the next release `0.4.0` currently planned for next week.

After that user should be able to do `import * as grpcWeb from 'grpc-web';` after an `npm i grpc-web`.

[2018-08-25 04:11] #261 closed

[2018-08-27 09:00] CodebyOmar commented on #250
@Yannic tried to build using bazel and it wasn't successful
```ERROR: bazel does not currently work properly from paths containing spaces (com.google.devtools.build.lib.runtime.BlazeWorkspace@44f745e2).```

[2018-08-27 13:04] aberasarte commented on #255
Great! Thanks for adding this @stanley-cheung .

[2018-08-27 15:52] zaucy commented on #250
@CodebyOmar Looks like the full path you're running bazel on contains spaces. That would be a bazel problem and outside the scope of this project.

[2018-08-28 20:55] stanley-cheung commented on #255
The npm package version `0.4.0` has been pushed. Please try it out!

[2018-08-28 20:55] #255 closed

[2018-08-29 05:05] stanley-cheung opened #269 "Reduce docker image size for quick start Echo example"
Here's our current quick start Echo example:

[code]

The `docker-compose pull` command is still a bit slow because the docker images were quite large (3-4Gb).

Here are the size of the docker images as it stands:

[code]

We should see if there is any way to reduce the docker image size.

Here are the [Dockerfiles](https://github.com/grpc/grpc-web/tree/master/net/grpc/gateway/docker)

[2018-08-29 05:43] stanley-cheung opened #270 "Reduce compiled JS file size"
As it stands, our [npm package](https://www.npmjs.com/package/grpc-web) `index.js` is 218KiB (which is being compiled by the closure compiler [here](https://github.com/grpc/grpc-web/blob/master/packages/grpc-web/scripts/build.js)).

With the [Echo example echo.proto](https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/examples/echo/echo.proto), that has about 7 message types, 1 service,

[2018-08-29 05:49] color-infinispace commented on #270
@stanley-cheung   could you check the size of compiled JS for protobuf messages?

[2018-08-29 06:01] stanley-cheung commented on #270
A bit more info, as it stands:
 - the generated protobuf messages `echo_pb.js` produced by `--js_out`: 35KiB
 - the generated gRPC Web stub `echo_grpc_web_pb.js` produced by `--grpc-web_out`: 9KiB

A couple more observations:
 - Just by looking at `compiled.js`, `dist/main.js` produced by the closure compiler, webpack, etc, the compiled JS files are already reasonably minimized. Most variables are

[2018-08-29 06:13] wenbozhu commented on #270
For the protobuf messages, could you check the compiled.js with out the protobuf  messages.

I.e. it is useful to find out the respective sizes of google-protobuf v.s. goog.net.streams

[2018-08-29 11:59] henpanta opened #271 "Java (Jetty) proxy"
Hi all,

is there any proxy solution in Java instead of Go or NGINX? I'd like to use a single webserver, and Jetty is already in the application for other purposes.

best regards,
N.

[2018-08-29 17:30] wenbozhu commented on #271
No. Do you like to help create a prototype ;), ideally as a servlet filter (e.g. which checks on content-type) that can be ported to other sevlet containers too?

We have some idea on a general guideline for developing in-process proxies, for different languages.  I worked on servlet 3.x/4.x specs and the async model in 3.x should be sufficient to implement grpc calls from a filter.

[2018-08-30 10:27] purebluesong opened #275 "Build Error on Ubuntu18.04 --- grpc-web version: 0.4.0"
## Error Log:
g++ -std=c++11 -I/usr/local/include -pthread  -c -o grpc_generator.o grpc_generator.cc
grpc_generator.cc: In function 'std::__cxx11::string grpc::web::{anonymous}::GetRootPath(const string&, const string&)':
grpc_generator.cc:226:20: error: 'count' is not a member of 'std'
   size_t slashes = std::count(from_filename.begin(), from_filename.end(), '/');
                    ^~~
<builti

[2018-08-30 21:08] stanley-cheung commented on #275
Hm, I can't quite reproduce. I made a fresh Ubuntu 18.04 VM and the plugin compiles fine:

[code]

But I perhaps did a bunch of `apt-get install` to start out of habit. Perhaps `build-essential` did help. Will look more into this.

[2018-08-31 03:02] purebluesong commented on #275
It didn't work, still the same error. Do you need any env information else?

Actually, another problem occurs before this problem.

[code]

And then I run `apt-get install libprotoc-dev` fix this.

[2018-08-31 03:11] purebluesong commented on #275
[code]

[2018-08-31 03:48] purebluesong commented on #275
No problem when building on mac with bazel or makefile.

[2018-08-31 04:14] stanley-cheung commented on #275
Just a guess: are you running `make install-plugin` as `root`, or using `sudo`? If former, can you try the latter?

[2018-08-31 05:36] stanley-cheung commented on #275
#276 should fix this.

[2018-08-31 06:00] #275 closed

[2018-08-31 06:50] purebluesong commented on #275
It works! Thank you.

[2018-08-31 10:33] purebluesong opened #277 "Could I control the import path in the future?"
https://github.com/grpc/grpc-web/blob/86631990e365130d5cfca3aa93613ec1eeef7da4/javascript/net/grpc/web/grpc_generator.cc#L349

Here shows the import path is hardcoded as './${basename}_pb'. So it looks like could not put the generated code in others place except the build directory.

For example, there is a proto directory `/proto/echo.proto` and I want to put the generated code in `/MyChildProjec

[2018-08-31 17:46] henpanta commented on #250
@stanley-cheung can you confirm that compiling on Linux and running on Windows will work?

[2018-08-31 18:05] stanley-cheung commented on #277
There's an `out=` option. I should probably add it to the docs.

`--grpc-web_out=import_style=commonjs,mode=grpcwebtext,out=myproject/somename_out.js:./basedir`

[2018-08-31 18:13] stanley-cheung commented on #250
@henpanta Compiling on Linux and running on Windows will not work.

[2018-09-02 14:31] Tails128 opened #278 "wrong libprotoc.so library"
Hi,
Since release 0.2 I'm getting the following error as i follow your INSTALL.MD :

[code]

I've worked with the 0.1 version of grpc-web succesfully on an ubuntu machine but due to various issues I'm now on an arch system with the latest version of grpc-web.
I've created a Dockerfile starting from ubuntu 16.04 in order to asses the problem's not the os, but the problem persists (same line but wit

[2018-09-03 02:49] purebluesong opened #279 "Typescript Type Check Errors"
Some errors exposed when I try to compile my generated typescript code.

One error message here:
[code]

And I found the generation code is here:
https://github.com/grpc/grpc-web/blob/86631990e365130d5cfca3aa93613ec1eeef7da4/javascript/net/grpc/web/grpc_generator.cc#L395

Another error message here:
[code]

And I found the generation code is here:
https://github.com/grpc/grpc-web/blob/86631990e365

[2018-09-04 18:31] stanley-cheung commented on #278
We have updated the [INSTALL.md](https://github.com/grpc/grpc-web/blob/master/INSTALL.md) recently - some of what you had is not necessary anymore.

We have a "prerequisites" docker image for reference: https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/docker/prereqs/Dockerfile

[2018-09-04 22:14] Tails128 commented on #278
With the updated procedure the problem shifted a bit, but it's still presenting whenever I use protoc-gen-grpc-web: I'm using the following command (also tryed changing base64 to grpcweb):

[code]
And I'm getting the following error (here simply by running protoc-gen-grpc-web:

[code]

but LSing for libprotoc.so.15 results in:

[code]

[code]

[2018-09-04 22:48] stanley-cheung commented on #278
After you run `sudo make install` from the `third_party/protobuf` directory, perhaps try running `sudo ldconfig`? It seems that you have another libprotoc installed in your system and `protoc-gen-grpc-web` got confused.

[2018-09-04 23:05] Tails128 commented on #278
Done it already with no result, i have the .so.13 from a previous grpc-web installation

[2018-09-04 23:08] stanley-cheung commented on #278
Can you share your Dockerfile? I'll see whether I can reproduce this

[2018-09-04 23:32] Tails128 commented on #278
I was forgetting: I've adopted a solution for this problem while i was trying to figure out how to resolve the lib confusion problem:

I'm using a dockerfile from `grpcweb/common` in a `generate.sh` file like this as a solution:

[code]

Dockerfile:

[code]

And then i simply run ./generate.sh and get the proto.js file (I'm probably shifting to a $PATH variable to avoid copying every time).

[2018-09-04 23:48] Tails128 commented on #278
I'm not entirely sure why, but the `grpcweb/prereqs` image started to work as well...
I've used the same `cd /github/grpc-web && make install-plugin && protoc-gen-grpc-web` command as before (didn't use ldconfig since it's on the prereqs docker image) ... I probably used the old image again, it's a bit late and I got distracted, sorry about that.

[2018-09-05 01:11] Emixam23 opened #280 "A couple of questions"
Hey !

I am coming today because I would like to pass from REST HTTP exchange to gRPC. My microservices

However, multiple question comes to my mind right now...

- How does work a "stub",  should it be a client with which I make each exchange (like a pipe, a socket) or should I generate a new one for each grpc exchange with my API?
- If it's better to keep the same client for each exchange, what'

[2018-09-05 01:33] stanley-cheung commented on #279
I am not quite able to reproduce. Can you show me your `.proto` file, preferably a little simplified to illustrate the error, and perhaps an entry point `client.ts`?

[2018-09-05 01:34] stanley-cheung commented on #278
So, all good? :)

[2018-09-05 03:31] purebluesong commented on #279
The proto is here:
[code]

And the entry point is nothing special just a useless import.

[2018-09-05 04:59] stanley-cheung commented on #279
Hm, I am still missing something.

 1. I put your proto content into `someservice.proto`.
 2. I generate my code using `protoc -I=. someservice.proto --js_out=import_style=commonjs:. --grpc-web_out=import_style=typescript,mode=grpcwebtext:.`. This gives me 3 files:
   * `someservice_pb.d.ts`
   * `someservice_pb.js`
   * `SomeserviceServiceClientPb.ts`
 3. I made a `index.ts` with just an import `

[2018-09-05 05:44] purebluesong commented on #279
Is the generated js file necessary？Maybe I missed this output file and I will try again.

[2018-09-05 05:53] stanley-cheung commented on #279
Ah yes, they are necessary.

So what happened was, there is no typescript support from [protobuf](https://github.com/protocolbuffers/protobuf/tree/master/js) yet. The `protoc --js_out` plugin will only output `.js` files. With the `--grpc-web_out` plugin here in this repo, we are currently outputing the minimal set of typings definitions for the protobuf message `.js` files.

[2018-09-05 06:31] purebluesong commented on #279
I think this maybe should write to the readme, it's not so easy to understand why I must generate the js file when I only want the ts output.

[2018-09-05 12:55] henpanta commented on #250
@stanley-cheung : thank you, just for being sure: does it mean grpc-web is not working on windows, or just the protoc-gen-grpc-web tool?

[2018-09-06 05:47] stanley-cheung commented on #280
A 'stub' is just a regular class generated by the `protoc` plugin, one per service in your `.proto` definitions. For example, if you have an `AccountService` defined with several RPC methods, a `AccountServiceClient` class will be generated for you. You can then use this `AccountServiceClient` to make RPC with a backend server implementing that service.

For your other questions, it depends on the

[2018-09-06 17:50] ravihugo commented on #189
Blown away by all the updates recently. Going to invest time into this again! Sounds like GA in Oct 👍

[2018-09-06 21:18] ctoomey opened #281 "Stream data callback not called till after last stream element sent"
I'm calling a grpc function with a stream response as shown in the `serverStreamingEcho()` example in the README, but even though the server sends a stream element every 1/2 second, my `stream.on('data', ...)` callback doesn't get called until after the whole stream has been sent down (then it gets called for each element). So it's not actually "streaming". I'm using the Envoy grpc-web filter.

Is

[2018-09-06 21:58] stanley-cheung commented on #281
1. Which platform, browser and browser version are you using?
2. Are you able to run our pre-packaged [Quick demo](https://github.com/grpc/grpc-web#quick-demo)? Typing "4 Hello" into the box should stream 4 "Hello" messages 0.5 seconds apart back to the browser. If that works, we should see how the pre-packaged demo is different from yours. If even that doesn't work, then we should focus on which

[2018-09-06 22:04] stanley-cheung commented on #281
Also just as a guess, when you run the `protoc-gen-grpc-web` plugin, did you pass in `mode=grpcwebtext`? If you had passed in `mode=grpcweb` streaming won't work, yet.

[2018-09-07 06:37] ctoomey commented on #281
Yep I used mode=grpcwebtext. Will change that tomorrow and confirm
streaming works, thanks.

On Sep 6, 2018 3:05 PM, "Stanley Cheung" <notifications@github.com> wrote:

[2018-09-07 09:20] Tails128 commented on #278
Yup, we can close the issue.
Sorry if it took me a while to answer, I wanted to do a couple tests to be sure!

[2018-09-07 09:20] #278 closed

[2018-09-07 11:01] aberasarte opened #282 "Missing some class definitions in the generated d.ts files."
I was trying the new d.ts generation feature (thanks again for adding it) and I found that in the generated definition file some of the types are declared as Objects when they could have been strongly typed.
For instance, for the following .proto file:
[code]
The produced _pb_d.ts file looks as follows:
[code]
The getUser() method returns {} when it could be `User`. The `export class User` is miss

[2018-09-07 16:45] juanjoDiaz commented on #237
Any intention fo implementing this in the future?

I think that it would be very beneficial to support ES6 imports since most people are using them nowadays.

[2018-09-07 17:33] n4uti commented on #282
I'm experiencing the same issue after generating the ts files with protoc.

[2018-09-07 17:44] nucle opened #283 "Question: Custom interceptor"
Hi,

is it possible to write a custom interceptor?
Can i access the custom metadata?

In kotlin i do something like this:
[code]

[2018-09-07 17:53] Generalomosco opened #284 "fatal error: google/protobuf/compiler/code_generator.h: No such file or directory"
What should caused this error below when tried to compile grpc-web on windows

[code]

[code]

![image](https://user-images.githubusercontent.com/17610332/45234958-a1f99000-b2d7-11e8-8ad3-4d4f0e7fa46d.png)

[2018-09-07 18:06] Generalomosco commented on #282
[code]
Can one generate this [book.proto](https://www.datafilehost.com/d/0ec70875) file for me in grpc-web js and ts!
I'm having some difficulties in compiling it on my windows.

[2018-09-07 18:16] stanley-cheung commented on #283
We have plans to add Interceptor support in the future

[2018-09-07 18:17] stanley-cheung commented on #284
Dupe of #250

[2018-09-07 18:17] #284 closed

[2018-09-07 18:19] stanley-cheung commented on #282
@aberasarte Thanks for the report. Yes we can certainly do better in the .d.ts typings output. Will work on this soon.

[2018-09-07 18:20] stanley-cheung commented on #237
ES6-style import has been implemented!

Please check the [main page](https://github.com/grpc/grpc-web#typescript-support) for more information.

[2018-09-07 18:51] nucle commented on #283
Good news! Thx for your feedback!

[2018-09-07 18:58] nucle commented on #282
@Generalomosco
The files.
Im using hyper v with ubuntu
[book.zip](https://github.com/grpc/grpc-web/files/2362185/book.zip)

[2018-09-07 18:59] ctoomey commented on #281
I meant I had used `mode=grpcweb`, I've confirmed it works when I use `mode=grpcwebtext`. What's the ETA for it working w/ `mode=grpcweb` and is there a tracking ticket for that? Thanks for your help.

[2018-09-07 19:50] stanley-cheung commented on #281
Is there any particular reason you need to use `mode=grpcweb`?

[2018-09-07 21:01] juanjoDiaz commented on #237
But that requires TypeScript, right?
It would be good to have standard ES6 which should be very similar to TS but without the types.
something like `es6` and `es6+dts`.

[2018-09-07 21:15] stanley-cheung commented on #237
I see. It would be nice to have in the future, but you might note that standard ES6-style import is not supported by [protobuf](https://github.com/protocolbuffers/protobuf/tree/master/js) yet. The reason why the `.d.ts` approach works right now is that we can still leverage the `.js` output (commonjs style) from protobuf and output a minimally viable set of typings for them to make it work.

Just

[2018-09-07 22:15] ctoomey commented on #281
Mainly we'd like to benefit from the smaller bandwidth needed for the
binary messages, and seems that should normally be the default for grpc
implementations.

On Fri, Sep 7, 2018 at 12:50 PM Stanley Cheung <notifications@github.com>
wrote:

[2018-09-07 22:35] stanley-cheung commented on #281
I see. Currently, there are limitation on browsers on receiving partial binary data. See a more detailed comment [here](https://github.com/grpc/grpc-web/issues/87#issuecomment-290256077).

[2018-09-07 23:41] ctoomey commented on #281
Got it, helpful to know that this won't be coming soon. Thanks for your help, closing this ticket.

[2018-09-07 23:41] #281 closed

[2018-09-08 07:31] juanjoDiaz commented on #237
Thanks! That makes sense!

Should this ticket be renamed to `Add support ES6 imports` and kept open so it's not forgotten?

[2018-09-08 21:06] Generalomosco opened #285 "Cross-Origin Read Blocking (CORB) blocked cross-origin response"
I'm having cors issue giving below error while using grpc in nodejs server backend and locally using grpc-web outside my backend server.

`Cross-Origin Read Blocking (CORB) blocked cross-origin response http://data.xx.win/books.BookService/List with MIME type text/html. See https://www.chromestatus.com/feature/5629709824032768 for more details.`

[2018-09-08 21:10] n4uti opened #286 "Requesting images"
Hello!
We just developed a couple of requests with straight forward rpc calls returning simple objects.
We now have the questions how we handle rpc calls returning image data and display them inside an img element with the src tag. Can this be done with grpc-web?

We tried to request the image as base64 data but we do not think this is the way to load images in a correct way with grpcweb - but it

[2018-09-09 00:27] stanley-cheung commented on #285
Which proxy did you deploy to handle the grpc-web requests?

[2018-09-09 06:38] Generalomosco commented on #285
This is what i does in my `Additional Apache directives`  to reserve proxy from domain root and it works with socket.io but don't work with grpc when i reserve the port to gprc server port.

[code]

[2018-09-10 04:12] stanley-cheung commented on #286
This is more of how you define your .proto API. I suppose you can define a protobuf message like

[code]

And a streaming method like

[code]

As to how to chunk-up the data from the server side and piece the data back at the client side, that's up to specific application / codec etc and is out of the scope of this library. Hope this helps!

[2018-09-10 11:00] purebluesong commented on #279
Found the problem:
[code]
The tsc will throw this code type imcompaitable error due to the `{}` object assigned to `Empty`.
And the `Empty` class has attributes like `serializeBinary` while `{}` not.

So I suggest to change the generate code like this.
[code]
Mainly diffrence is '{}' and 'any'.

Or just simply change the request type at least `{serializeBinary(): Unit8Array}` since every request o

[2018-09-10 11:03] purebluesong commented on #279
Meanwhile, the second error which describes `callback` is the same as above.

[2018-09-11 10:46] #271 closed

[2018-09-11 10:51] henpanta opened #287 "Does it work on MS Windows?"
Hi

Wrote an app with this lib running in browser and grpc-java as a backend.
Works well on linux but as soon as I try to run it on Windows, I got errors I cannot solve. I don't want to compile on Windows, only execute. Is it possible?

[2018-09-11 18:02] stanley-cheung commented on #287
Can you give us a bit more details? What doesn't work on Windows? Was it the backend, Envoy, or the browser app? What error did you get?

[2018-09-11 18:04] stanley-cheung commented on #279
Actually I'd like to be able to use `any` in the meantime when we started out. But our internal linter doesn't like it. I will need to find some other workaround. Will keep this in mind.

[2018-09-11 18:28] juanjoDiaz commented on #232
I've been facing this in some projects recently.
Having to install and make stuff is not very developer friendly and might lead to "it works on my machine" issues...

So, until there is an npm package for this, I've created https://github.com/juanjoDiaz/grpc-web-generator which essentially only requires docker in the machine and can be integrated easily with npm-based workflows.

I think that it m

[2018-09-17 16:23] thesamet opened #289 "`end` event occasionally not emitted"
I am making a streaming RPC call and listening using `on()` to `data`, `status` and `end` events. I'm always getting the data, and always getting a status with code 0, but the `end` event only appears about 20% of the time. My client code only sends that one single streaming request.

Is this a known issue, or are there any obvious things I might be missing? If not, I'll share some minimal code to

[2018-09-17 22:35] #280 closed

[2018-09-17 22:35] #285 closed

[2018-09-17 22:35] #286 closed

[2018-09-17 22:52] doug commented on #286
Grpc-web should support
https://github.com/googleapis/googleapis/blob/master/google/api/httpbody.proto

google.api.HttpBody

On Mon, Sep 17, 2018, 11:35 PM Stanley Cheung <notifications@github.com>
wrote:

[2018-09-17 23:50] thesamet commented on #289
Chrome on Linux, envoy

[2018-09-19 03:48] purebluesong commented on #279
Any progress？

[2018-09-19 04:16] nigeltiany opened #290 "grpc-web on istio help"
I have fragments of the examples in this project and a go echo server on istio-kubernetes that I can't get to work. If anyone can look at it, just deploy the deploy folder yaml(s). At the moment, the client says the echo server is not available with a 503 return code. Any input here or on the project is appreciated. You can find the project [here](https://github.com/nigeltiany/learning-grpc-web).

[2018-09-19 10:57] purebluesong opened #291 "About another grpc-web"
Any official comments for this repo https://github.com/improbable-eng/grpc-web ?

[2018-09-19 14:56] thesamet commented on #289
This repository has a self contained minimal example.

https://github.com/thesamet/grpc-web-no-end

[code]

Then direct your browser to http://localhost:8080 and open the javascript console from the developer tools.

You will see the streaming request logged, but the `end` event never gets logged.

Here is how to get it to log intermittently:
[code]

and open index.html directly in your browser (b

[2018-09-19 15:40] thesamet commented on #289
I used the above to reproduce this problem on Mac OS X, both Chrome 68 and Safari 11.

[2018-09-19 16:55] wenbozhu commented on #291
We collaborated on the spec, and improbable/grpc-web is definitely a valuable contribution for the gRPC ecosystem.

grpc/grpc-web uses google-closure/JS to ensure compatibility and performance (for both grpc-web and protobuf) and google-closure is a must for Google web apps. TS support is experimental and full TS support with protobuf is yet to be released.

For other details, you should check the

[2018-09-19 16:55] #291 closed

[2018-09-19 17:16] stanley-cheung commented on #290
Here's an example of using gRPC-Web on Kubernetes: https://github.com/salrashid123/grpc_web_with_gke

[2018-09-19 17:16] stanley-cheung commented on #289
Thanks for the information. I will try to reproduce.

[2018-09-19 18:03] shanshanzhu opened #292 "Missing cleanup prototype functions"
When we register a listener to 'data', 'error' events, the source code is basically overriding existing methods. There is no clean ways to unregister the listener. We'd expect a method such as `off`, `removeListener`. Even better, we can use`addListener` to replace current implementation of `on`.

https://github.com/grpc/grpc-web/blob/master/javascript/net/grpc/web/grpcwebclientreadablestream.js#L

[2018-09-19 19:46] stanley-cheung commented on #292
That's a fair point. Looks like gRPC Node's implementation uses [`EventEmitters`](https://nodejs.org/api/events.html). The `.on()` API can attach multiple listeners when call multiple times. And the returned `stream` object implemented the `EventEmitters` interface, which gives a `removeListener` method. Will definitely look into this.

[2018-09-19 21:53] nigeltiany commented on #290
The example works well. But istio already takes care of envoy ingress and envoy injection into pods. The envoy ingress is preconfigured to work with grpc if a service names a port with the prefix ```grpc```. The envoy ingress is supposed to be pointed to the correct services using virtual services. Here are the configs from the project. Here are some of the configs
[code]
A virtualservice for the

[2018-09-20 00:53] nigeltiany commented on #290
I found this issue. Istio supports grpc-web it just doesn't take advantage of this by exposing a way to configure a grpc-web port. https://github.com/istio/istio/issues/1368

[2018-09-20 00:53] nigeltiany commented on #290
https://github.com/istio/istio/issues/1368

[2018-09-20 10:19] hunnain opened #294 "How to use grpc-web in reactjs"
Hi i have created my grpc server  on nodejs but i want to connect my grpc server with reactjs i want to use grpc web on my react app.
Firstly i write this command
protoc ./protos/helloworld.proto \
--js_out=import_style=commonjs: \
--grpc-web_out=import_style=commonjs,mode=grpcwebtext:/
to build two file of protocol buffer and this command gives me an error.
protoc-gen-grpc-web: program not found

[2018-09-20 16:48] gregkeys opened #295 "Need more demo's and documentation"
I'm having a terrible time reasoning about grpc-web because the README.md doesnt really line up with the example.

it seems really simple at first, just define a proto with Echo, EchoRequest, EchoResponse but when working through the example the proto contains significantly more api definition.

it would be nice to have a working demo that matches the README.md just as a starting point. also is th

[2018-09-20 17:01] johanbrandhorst commented on #295
I think as far as TLS goes it's just a matter of talking to a TLS endpoint, the browser handles all the certificate stuff.

[2018-09-20 17:40] stanley-cheung commented on #295
Agreed that the examples and documentations can be improved. The original goal was to have something a little nicer so that first-time user can interact with on a "sort-of" chat app on a browser. So yes there are some unnecessary jQuery stuff sprinkled in and I agree that there's a bit of a bloat by now. Agreed that we should simplify the main demo and have this Echo demo be a more "advanced" exam

[2018-09-20 17:42] stanley-cheung commented on #294
Did you try to compile the plugin on Windows? If so, that's a dupe of #250. Currently compiling the plugin on Windows is only supported via Bazel. Please follow the instructions there.

[2018-09-20 19:41] hunnain commented on #294
i am using ubuntu
please guide me stanley i want create an app react app using grpc

[2018-09-20 19:44] hunnain commented on #294
Stanley what the procedure to compile or resolve sudo make install-plugin error in ubuntu 18

[2018-09-20 19:47] hunnain commented on #295
Greg you right.Stanley please provide more docs to understand grpc-web it is more complicate to learn and use and you are using go language but most developers use javascript nodejs expressjs and python.You also need to provide dos for reactjs and react-native.

[2018-09-20 20:33] stanley-cheung commented on #294
If you are using Ubuntu, please follow [this](https://github.com/grpc/grpc-web/blob/master/INSTALL.md) instructions. You are probably missing the `git submodule update --init` step.

For how to use gRPC-Web with React, development-process wise there is no significant difference than using any other NPM package at this point. There's a slightly more detailed [tutorial](https://github.com/grpc/grpc-

[2018-09-21 01:07] hunnain commented on #294
stanley when i import request file  like this
import {helloRequest} from 'protocolbuffer/helloworld_pb';
const request = new helloworld();
request.name("Hello World")
 so i execute so error comes request.name is not defined
![screenshot from 2018-09-21 06-03-06](https://user-images.githubusercontent.com/24963356/45854438-8b861680-bd64-11e8-9ea8-164ee105f3fb.png)
![screenshot from 2018-09-21 06-02-

[2018-09-21 01:09] stanley-cheung commented on #294
`request.setName()`?

[2018-09-21 01:18] hunnain commented on #294
service Greeter {
  // Sends a greeting
  rpc SayHello (HelloRequest) returns (HelloReply) {}
  rpc addTodos (AddTodos) returns (AddTodosResponse){}
}

// The request message containing the user's name.
message HelloRequest {
  string name = 1;
}

// The response message containing the greetings
message HelloReply {
  string message = 1;
}
// Add todos
message AddTodos {
  int32 id = 1;
  string t

[2018-09-21 01:26] stanley-cheung commented on #294
for a field with the name `name`, the API to set the field for protobuf is `.setName('Hello')`.

[2018-09-21 01:29] hunnain commented on #294
If i write this
const client = new EchoServiceClient('localhost:8080');
so there was an error come
EchoServiceClient or Greeter in my case is not a constructor and in port my react port is 3000 and my grpc server port is 50051 so what want to write their

[2018-09-21 01:31] hunnain commented on #294
sorry i have using webpack so there was no port in client but there was an error of  Greeter is not a constructor. By the way you write new

[2018-09-21 01:32] stanley-cheung commented on #294
try `const client = new GreeterClient('localhost:50051');`

[2018-09-21 01:34] hunnain commented on #294
No there was an error client is not a constructor
![screenshot from 2018-09-21 06-33-51](https://user-images.githubusercontent.com/24963356/45855203-6bf0ed00-bd68-11e8-8ee0-d48b1519c5f5.png)
![screenshot from 2018-09-21 06-33-39](https://user-images.githubusercontent.com/24963356/45855204-6bf0ed00-bd68-11e8-9383-227e9bec167a.png)

[2018-09-21 01:39] hunnain commented on #294
Stanley i try your command
const client = new GreeterClient('localhost:50051');
so again error appear client.echo is not a function

[2018-09-21 01:40] hunnain commented on #294
stanley i want to chat with you can  you attach with me on fb its urgent and i want to clear my some confusion.

[2018-09-21 02:46] stanley-cheung commented on #294
Your service's methods are:
[code]

so you should be doing `client.sayHello()`, or `client.addTodos()`.

[2018-09-21 09:18] Tails128 opened #296 "Maps<key, value> are decoded as arrays"
Hi,
I'm working with a map item inside a message and I've noticed the structure of the map is a bit odd.
The item I'm sharing looks like this (don't mind the generic names, they are just for simplicity) :
[code]
The way grpc streams it is
[code]
The item given by grpc-web's proto is:
[code]

What I'd expect on the js by a map message is:
[code]

[2018-09-21 10:07] hunnain commented on #294
Thank you so much stanley you help me there is last error i am facing
Failed to load localhost:50051/helloworld.Greeter/SayHello: Cross origin requests are only supported for protocol schemes: http, data, chrome, chrome-extension, https.
i have also instal hhtp and run http server on my root directory so  now client side  port is 8082
what may i do now there was no console on my grpc node server i

[2018-09-21 15:48] hunnain commented on #294
Stanley please guide me this issue help every react or any other library developer to use grpc-web in their apps

[2018-09-21 17:04] stanley-cheung commented on #279
[code]

What is this segment of code? Is it from the generated code? Or you wrote that? Sorry I was a little confused on how to reproduce that.

[2018-09-21 18:06] stanley-cheung commented on #296
This is more of a question for [protobuf](https://github.com/protocolbuffers/protobuf/tree/master/js).

Issue similar to this:
 - https://github.com/protocolbuffers/protobuf/issues/2056
 - https://github.com/protocolbuffers/protobuf/issues/2789

Looks like for now, the APIs being supported are `set`, `get`, `has`, etc. I believe what you are looking for is something like `toObject`. The method was

[2018-09-21 21:58] stanley-cheung commented on #294
You have to deploy a proxy which understands gRPC-Web. The default proxy is [Envoy](https://www.envoyproxy.io/). See the documentation [here in the main page](https://github.com/grpc/grpc-web#2-run-the-server-and-proxy) and [here in the tutorial](https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/examples/echo/tutorial.md#configure-the-envoy-proxy).

Basically you need an Envoy config f

[2018-09-24 05:44] thesamet opened #297 "error code is a string instead of int"
When I set up envoy, but the upstream grpc server is not set up, the error code that is returned to the app is `"14"` as a string, instead of a number.

This line might be the culprit: https://github.com/grpc/grpc-web/blob/92aa9f8fc8e7af4aadede52ea075dd5790a63b62/javascript/net/grpc/web/grpcwebclientreadablestream.js#L200  - maybe the header needs to be converted to a number?

[2018-09-24 13:14] Tails128 commented on #296
I see... reading those issues it seems they do not feel like it's an issue right now, I think I'll just update my parser class for npm use in case anyone has the same problem.

Thank you!

[2018-09-24 23:05] #296 closed

[2018-09-24 23:06] stanley-cheung commented on #297
Acknowledged.

[2018-09-25 00:45] stanley-cheung commented on #294
You can attach authentication headers using the `metadata` argument (usually the 2nd parameter per RPC method). For example:

[code]

[2018-09-25 09:13] trungthanhnt commented on #90
Is there any update of trying grpc-web in React-Native?

[2018-09-25 10:30] purebluesong commented on #279
As for the environment, I just created a little project by vue-cli and chose typescript as my development language. I don't know whether I could config something to ignore those errors because I am just a newbie for the web.

[2018-09-25 13:27] joshjung opened #298 "Echo Demo not Working"
Hey there, a couple of us in our office have recently followed the directions in `INSTALL.md` and the `net/grpc/gateway/examples/echo/README.md`.

After following the instructions without any visible errors, we can confirm that the docker instances are all running as expected:

[code]

However, when running `http://localhost:8080/net/grpc/gateway/examples/echo/echotest.html` in the browser, we get

[2018-09-25 19:00] dzolotusky commented on #298
I've been working with @joshjung on some of this and saw the same issues. It looks like the problem is in the commonjs-client docker image.

I have it deployed as the grpcweb/closure-client image. Is that wrong and it should be commonjs-client?

When I use grpcurl and point it to the reflection endpoint on localhost:9090 or localhost:8080, I get a correct list of gRPC endpoints. So, I assume that

[2018-09-25 19:55] stanley-cheung commented on #298
Both of those should work. As in:

[code]

and

[code]

should both work.

In fact, swapping `envoy` with `nginx`, all 4 combinations should work.

But just to make sure: only 1 of `envoy` or `nginx` should be run at the same time. Same for only 1 of `commonjs-client` and `closure-client` should be run at the same time, because these pair of images listens at the same port. Might it be possible th

[2018-09-26 08:13] hunnain commented on #298
stanley basically i set a envoy proxy
My envoy proxy docker file
Dockerfile
[code]
My evoy.yaml file
[code]
My grpc server running on port 9090  when i run `docker compose up -d envoy` so it will run and when i hit the url localhost:8080 from browser it show me **upstream connect error or disconnect/reset before headers**
When i used grpc-web in react
My React code
[code]
So when i used in react a

[2018-09-26 17:52] stanley-cheung commented on #298
Had a chat offline - the original issue in this thread was resolved. There are some documentation update I will add soon, especially around compiling the protoc plugin.

[2018-09-26 21:59] hunnain commented on #294
Stanley i followed your all step but again it give me an error code of 12 but no any error message
Stanley i am working on grpc-web from 10 to 15 days. I have also set proxy using docker which is running on port 8080 my client side react port 8081 and my grpc-server port is 9090 as you said that i want to integrate proxy from clientside i call this
`  const client = new TodoServiceClient('http://l

[2018-09-27 11:37] hunnain commented on #294
Stanley I am stuck on **last moment** i need your guide i have almost done everything as you told.

[2018-09-27 18:31] juanjoDiaz opened #300 "PromiseClient is missing all the streaming methods"
It seems that only Unary calls are added to the PromiseClient.
That means that, if you combine streaming and unary calls you either stick to the callback-based client or you need to have both clients.

Any reason for that? Would a PR to add stream calls to the PromiseClient be welcomed?

[2018-09-27 18:40] stanley-cheung commented on #300
`PromiseClient` is more of an internal experimental thing right now that's not supported here yet. (Hence the complete lack of documentation of its existence here).

So please don't use it yet :) We are planning to work on this but unlikely to be available in the next quarter or so.

[2018-09-27 19:39] stanley-cheung commented on #300
Actually I'd like to use this thread as an API proposal discussion: What should a Promise-based API look like for streaming methods?

[2018-09-27 19:53] stanley-cheung commented on #294
You are trying to connect to "localhost:8080" from your client, but your Envoy config is listening at :8081.

[2018-09-27 20:11] juanjoDiaz commented on #300
I think Callback vs Promise is a debate for async request-response operations.

Talking about streams of data, the Callback vs Promise doesn't make any sense.
So I think that streaming call should return exactly the same for both clients.
The current version seems to basically match Node.js' ReadableStream and that sounds like a great option to me. Once the bidirection stream is added it could mat

[2018-09-27 20:42] stanley-cheung commented on #300
Oh I think I misunderstood your original comment of "add stream calls to the PromiseClient" then. So you were saying that currently, in the undocumented `PromiseClient`, we just aren't outputing the streaming methods at all, and that we should. And there is no need to design a Promise-based API for streaming calls. Then yes, that was my thought as well. We would certainly like to keep the API as c

[2018-09-27 20:50] juanjoDiaz commented on #300
Correct! My initial question was that the undocumented `PromiseClient` is missing those methods.
It should be trivial to add them there just as they are, that's why I asked if a PR would be welcome.

[2018-09-27 20:51] stanley-cheung commented on #300
Yes a PR would be welcome :) Thanks! Sorry for the confusion.

[2018-09-28 04:40] hunnain commented on #294
Stanley i have also do it 8080 but not working again same erorr

[2018-09-28 05:37] stanley-cheung commented on #294
What does your envoy.yaml config look like now?

If you are still stuck, perhaps you can consider starting from the pre-packaged Echo demo? Does that work for you? That should work, as several users have successfully run them. If that work, which it should, you can start modifying from there. Change the .proto file. Change the server. Change the client. Do it one at a time and you can know which i

[2018-09-28 06:28] hunnain commented on #294
[code]
Stanley your example is running but the problem is your server in c++ as you have given but i didnt know c++  I think so the main problem is proxy.
One other thing i want to discuss is that
`const client = new TodoServiceClient('http://localhost:8080');`
If i remove http from the given code so its give me an error of cross origin cors is enable when i set to http so it cant give cross origi

[2018-09-28 07:02] stanley-cheung commented on #294
So in your `route_config` section, you are routing all the requests to `cluster: echo_service`. Where is `echo_service` defined? Did you forget to copy the relevant section under the `clusters` tag?

[2018-09-28 07:11] hunnain commented on #294
[code]
Yeah i have added
See the screenshot my container is running
i think everything is fine but what was wrong
![screenshot from 2018-09-28 12-09-40](https://user-images.githubusercontent.com/24963356/46193420-894d2a80-c317-11e8-8943-6f84918f80a7.png)

[2018-09-28 08:17] hunnain commented on #294
One more thing stanley when i run Envoy proxy so its give me an error code of 12 and when i run echo-server container its given me an error code of 14 what is this

[2018-09-30 10:58] hunnain commented on #294
@stanley-cheung  and @domgreen  basically the main problem is that docs are not clear i have run your example and edit your example 100 times but the problem is when i create my app so it wasnt working i have run server on docker and expose port on  9090 run envoy proxy also when i request to envoy proxy from browser its give me an error code of 14 but when i used node client and direct hit on ser

[2018-10-02 18:11] stanley-cheung commented on #289
Sorry for the delay. I was working on #302 and tried to reproduce this and found this (this is tested with Chrome, Linux, Envoy):
 - If the backend grpc server was implemented in c++, I get the `'end'` signal about ~50% of the time (or maybe slightly less).
 - If the backend grpc server was implemented in Node, I get the `'end'` signal 0% of the time!

I suspect this is something in the Envoy laye

[2018-10-02 20:28] #295 closed

[2018-10-02 20:50] stanley-cheung commented on #298
Closing this. Original issue was resolved. Added a blurb on how to compile the `protoc-gen-grpc-web` plugin here: https://github.com/grpc/grpc-web#code-generator-plugin

[2018-10-02 20:50] #298 closed

[2018-10-02 21:50] #297 closed

[2018-10-02 23:01] hunnain commented on #294
@stanley-cheung  I have tried many hting but in react grpcweb is not working as i told you stanley my server and my proxy is fine when i use nodejs client so i can easily do everything but grpc-web is not working i think it was not working on react

[2018-10-03 05:41] justerest commented on #80
It's working.
I hope it helps somebody.

[code]

[2018-10-04 06:05] mitar opened #306 "Generated invalid code"
I tried generating files based on the guide, and in my case it generates invalid output:

[code]

See the final line. So I have `value.proto` and `core.proto` files. I am using protoc 3.5.1, and today's master branch of this repo.

Also the final line is:

[code]

[2018-10-04 06:10] mitar commented on #306
My `.proto` files do not have `package` defined.

[2018-10-04 07:40] mitar commented on #306
So it seems it is not possible to generate code for service which is not inside a package. This is a problem because on the server side we have such code (in Python). If I add a package name on the client and not on the server (for compatibility with other clients) it does not work because method names are different. Client prefixes them with package name.

So the question is how to generate code

[2018-10-04 17:08] stanley-cheung commented on #306
Will fix.

[2018-10-04 18:15] mitar commented on #306
I now run the following commands which make it work:

[code]

In short, I replace:

[code]

with:

[code]

And:

[code]

with:

[code]

[2018-10-04 21:41] mitar opened #307 "Cannot access options"
In our proto files we do something like:

[code]

This allows us to encode the version of the API into the API itself. Then user of the API can do (in Python):

[code]

To retrieve this constant from the API file.

I see in generated JavaScript file that file options are extended. But the option itself is not stored anywhere. Could you add it as well?

[2018-10-04 21:53] stanley-cheung commented on #307
This may be an issue for [protobuf](https://github.com/protocolbuffers/protobuf), but I will confirm.

[2018-10-05 00:29] mitar commented on #289
@thesamet How do you know which message in the stream is the last message?

[2018-10-05 04:13] mitar opened #309 "If stream messages take long, streaming disconnects"
I am using Envoy proxy with Python server-side and i am trying to stream messages. I discovered that if messages take a long time to arrive, an error is printed in the browser console and no more events for that stream come. The error is:

[code]

I am guessing that Envoy proxy disconnects the connection. It seems it does that at exactly 15 seconds (that's what I see in Chrome web inspector networ

[2018-10-05 05:05] #306 closed

[2018-10-05 15:35] mitar commented on #309
I am using Envoy configuration from the hello world example.

[2018-10-06 03:29] mitar opened #312 "Also document that stream has on('error')"
Because otherwise you might not catch all cases for stream termination.

[2018-10-06 04:05] #309 closed

[2018-10-06 07:00] stanley-cheung commented on #307
Yea this is a protobuf issue: https://github.com/protocolbuffers/protobuf/issues/3554

[2018-10-06 07:08] mitar commented on #307
Oh, my own issue there. How time flies. :-)

[2018-10-06 07:09] stanley-cheung commented on #307
Yea that part was controlled by `--js_out`. This repo's plugin is responsible for `--grpc-web_out`.

[2018-10-06 07:09] #307 closed

[2018-10-06 09:04] mitar opened #315 "Document how to convert messages to JSON"
I have trouble finding how can I convert GRPC messages to JSON. There is `toObject` which is close but not really JSON. There is canonical JSON representation of GRPC messages, but it is unclear how does it relate to this package and how does one get it.

[2018-10-06 09:09] stanley-cheung commented on #315
This is again a protobuf issue :) https://github.com/protocolbuffers/protobuf/issues/1904

[2018-10-07 05:43] mitar opened #317 "Chrome extension to display decoded grpc messages in the web console"
I think it would be very useful to be able to debug grpc messages in the web console, in the network tab.

[2018-10-07 08:12] mitar opened #318 "Error message with colon does gets changed on the way to the client app"
I have a server-side implemented in GRPC and I throw there an exception with message like "Foo: bar". This seems to be sent to the client with header:

[code]

But in the JavaScript callback on the client I get only `{code: "3", message: "Foo"}`.

I think the issue is that because of `:` character there, header parsing seems to break or something. I tried to find the code where this breaks but I w

[2018-10-07 12:32] SantoshSah opened #319 "has it been released for production use?"
As it is mentioned that it will be released by Oct. 2018 for general availability but i did not find it released version any where. has it been released for production use?

[2018-10-08 04:02] stanley-cheung commented on #319
We are very close. We are just going through some administrative process before marking a 1.0 release. In fact, the website update PR: https://github.com/grpc/grpc.github.io/pull/737 has been ready for quite a while, just pending a merge. And the version bump #288 is ready as well.

cc @hsaliak

[2018-10-08 18:58] SantoshSah commented on #319
Thank you @stanley-cheung and team for great work. Waiting to use its official release.

[2018-10-08 19:41] stanley-cheung commented on #319
Release 1.0.0 has been tagged.

[2018-10-08 19:41] #319 closed

[2018-10-09 00:03] mitar commented on #315
I managed to find a workaround to get it close to what I need:

[code]

[2018-10-11 04:36] wyemun opened #322 "Generator redeclares same function name when given a proto with multiple services"
When give `.proto` file of such
[code]

The `protoc` generator will generate the following stub using `mode=grpcwebtext`

[code]

which results in a `SyntaxError`

[2018-10-11 07:37] stanley-cheung commented on #322
Acknowledged. Will fix. Thanks for the report!

[2018-10-13 20:05] nigeltiany opened #325 "mixed content error"
I am running the echo example in istio with transport layer security. Sending a request shows a mixed content error.  ```main.js:405 Mixed Content: The page at 'https://example.com' was loaded over HTTPS, but requested an insecure XMLHttpRequest endpoint 'http://example.com/EchoService.EchoService/Echo'. This request has been blocked; the content must be served over HTTPS.```

How do i fix this if

[2018-10-13 21:48] nigeltiany commented on #325
Found the cause. GRPC redirection isn't a thing so although my istio gateway redirects all traffic to port 443, the client still tries a http request to port 80 even though window.location.origin is ```https://site.com```. I changed the client code to
[code]

[2018-10-14 00:15] emailtovamos opened #326 "Go gRPC server with javascript frontend?"
In this example here (https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/examples/echo/tutorial.md) the backend is written in javascript so that the client can simply "require" the corresponding .js file and access the functionality.
How exactly would this work if I want to write the backend using Go? Is it possible?
Sorry if this is a simply question as I am new to this.

[2018-10-14 20:19] hunnain opened #327 "Merge pull request"
@stanley-cheung and @kokoro-team  i have created gRPC React Example please review my code and merge it i know this is not an issue but it was important because Reactjs developer need some example so please review my code and merge it

[2018-10-14 20:34] Yannic commented on #327
@hunnain like @glerchundi already said in #324, prosecution is not the way to go!
It's only been 3 days since you opened #323, and it's weekend.
I'm sure Stanley will review your PR as soon as he has time to do it. Please be patient!

[2018-10-15 00:16] stanley-cheung commented on #326
Yes, you can implement the backend gRPC service in any language supported by gRPC, including Go. See the [gRPC Basics: Go](https://grpc.io/docs/tutorials/basic/go.html) page for more details.

[2018-10-15 00:16] #326 closed

[2018-10-15 00:35] stanley-cheung commented on #327
@hunnain Please don't abuse the issue tracking system. Contributors and maintainers need to adhere to the [Code of Conduct](https://github.com/cncf/foundation/blob/master/code-of-conduct.md).

[2018-10-15 00:35] #327 closed

[2018-10-15 00:46] nigeltiany commented on #325
Yes I got it working but setting the url to ```https://example.com``` doesn't use the correct port. You have to explicitly set it to ```https://example.com:443```

[2018-10-15 00:53] stanley-cheung commented on #325
That seems like a config issue on the endpoint. Closing this for now. Let me know if you have other questions!

[2018-10-15 00:53] #325 closed

[2018-10-15 00:53] #315 closed

[2018-10-15 04:56] weilip1803 opened #328 "When out of beta?"

[2018-10-15 05:06] hunnain commented on #327
@stanley-cheung I really sorry for this. I really sorry @stanley-cheung  if I heart you at this moment I am feeling imbaracement so when you get time so then review and merge. Now I am only 17 so I can't understand some laws so I really sorry.

Thanks  Stanley and Yannic

[2018-10-15 05:11] stanley-cheung commented on #328
We have tagged the [1.0](https://github.com/grpc/grpc-web/releases) GA release. A public announcement will be coming soon.

[2018-10-15 05:11] #328 closed

[2018-10-15 07:42] weilip1803 commented on #328
Congrats too ^^.

[2018-10-15 07:43] glerchundi commented on #328
Yeah, fantastic milestone, keep up the good work!

[2018-10-16 07:14] weilip1803 commented on #282
Just to add on. Can we have ClientReadableStream callback type to be Array<any> instead of Array<{}>? I am using the toObject method and it is giving type check errors

[code]

[2018-10-17 14:42] pumano opened #329 "commonjs+dts generate some js files with closure imports"
**Description:**
`commonjs+dts` option generate some files as closure style imports

**Preconditions:**
one `.proto` file with one service and 1 request and 1 response entities

**Steps to reproduce:**
1. generate with `commonjs`
2. generate second time to `commonjs+dts` and compare files
also commonjs+dts not working in browser due to closure imports

**expected results:**
proper code generation

[2018-10-18 04:43] pumano commented on #329
OK, looks like I use same `commonjs+dts` for both `js_out` and `grpc-web_out`. It's will be good to have additional info about it in readme.

[2018-10-18 13:06] pumano commented on #329
@stanley-cheung yes, `--js_out=` not working with `commonjs+dts` and `typescript`, looks like it should be documented.

[2018-10-18 16:14] xor-gate opened #332 "Bazel build doesn't work: error loading package 'third_party/grpc' on macOS"
Commit: 4ca20a4f9c29359811897ce9b883d09c262bfdf5
Bazel:
[code]

Error:
[code]

[2018-10-18 17:35] #329 closed

[2018-10-18 17:55] #223 closed

[2018-10-18 20:54] Yannic commented on #332
Look like you checked out the git submodules before you ran `bazel build //...` which unfortunately doesn't work (yet) 😞.
Try running `bazel build //javascript/... //net/...` instead.

@stanley-cheung Fixing this might be tricky because we'd have to check whether the git submodules are checked out and then conditionally declare a `local_repository`. Do you think that's worth investigating?

[2018-10-18 21:05] xor-gate commented on #332
Aah it would have taken me some time to find out. Seems to build now the whole tree. And I must say bazel is neat.

[code]

[2018-10-18 21:16] stanley-cheung commented on #332
@yannic Thanks for figuring this out! I don't think it's worth it to do the check. We should probably just document the fact that you can't just do `blaze build ...` if you did checkout all the submodules.

[2018-10-19 23:29] nigeltiany opened #333 "Handling OPTIONS request"
I am running the echo example on a kubernetes with an istio service mesh. The example works great, but when I move the server to ```api.example.com``` and the client to ```client.example.com```, options requests stay pending for a while then fail.

[2018-10-19 23:36] nigeltiany commented on #333
Never mind. Found it.
[code]

[2018-10-19 23:36] #333 closed

[2018-10-21 02:32] stanley-cheung commented on #333
@nigeltiany FYI `suppressCorsPreflight` is not a fully supported nor documented feature for now. There are risks using this feature for now, and not all proxies are supporting this. We are still working on better defining this feature internally.

[2018-10-23 10:58] weilip1803 opened #335 "How to set grpc web client path? Help wanted"
How to set grpc web client path? Help wanted

[2018-10-24 01:39] weilip1803 commented on #335
I have tried that but for the envoy routes
[code]
Grpc code
[code]
This will not work. It only works if the prefix is "/"

[2018-10-24 03:20] weilip1803 opened #336 "Grpc generated pb_d.ts. Incorrect import"
[code]
The following command will cause the healthcheck_grpc_web_pb.d.ts file to import the proto files from
./ft_pform/healthcheck_pb instead of ./healthcheck_pb which is the correct one.

The rest of the js files are generated correctly.

[2018-10-24 08:26] johanbrandhorst opened #337 "spec: Clarify use of metadata (headers) in clients"
Hi!

An issue was raised [1] against `improbable-eng/grpc-web` asking what the best way is for a client to specify the HTTP/2 `:authority` header for routing between services in the backend. The spec mentions a few reserved headers, but I think it would be nice to have clarity on exactly which headers have a special meaning for the gRPC protocol and how they should be specified in a HTTP/1.1 world

[2018-10-24 09:24] pumano opened #338 "docs: security"
Could you please add more details about security and how to properly use metadata for authentication via grpc-web and also cover XSRF / XSS and etc

Also I have question, grpc-web support cookies? I want to set `httponly` `secure` cookie (not accessible from javascript) from server to client and want to get all requests from client to server with that cookie

[2018-10-24 17:43] #335 closed

[2018-10-24 17:43] #332 closed

[2018-10-24 21:15] rattrayalex-stripe opened #340 "Flow support"
Congrats on GA!

I don't expect this to be a short-term priority, but I'd like to track support for [flowtype](https://flow.org/) in addition to TypeScript.

Is this something that you're considering?

[2018-10-24 22:04] stanley-cheung commented on #340
You are right, not a short-term priority. We are still working on getting better typings for TypeScript at the moment. But this can be a longer term goal.

[2018-10-24 22:11] rattrayalex-stripe commented on #340
Awesome, thanks for the quick response. Sounds like the right prioritization - best of luck!

Once TypeScript is stable it should be straightforward to add Flow support; I'd expect that [this](https://github.com/grpc/grpc-web/blob/master/javascript/net/grpc/web/grpc_generator.cc#L504) should mostly work with minimal modifications. When the time comes, you may find [this](https://github.com/niieani

[2018-10-25 05:08] razonrus commented on #317
It will be ideal if we have something like Swagger for gRPC-Web :)
I don't want to decode binary format, but I want to have some tool which let me manually enter data in human format (JSON, YAML or simply filling several textbox) and send this data to server in binary. Also I want get deserialized response from server in this tool. I think tool pregenerate message's format and service methods from

[2018-10-25 06:01] alex-logward opened #341 "Add basic auth and HTTPS to QuickStart guide"
The guide currently shows how to get gRPC web working locally but it would be nice to have it expanded to include basic auth and have HTTPS since there’s no web server I think it would entail some envoy proxy configuration

Thank you

[2018-10-25 06:34] stanley-cheung commented on #341
There's a gRPC-Web on Kubernetes example here: https://github.com/salrashid123/grpc_web_with_gke. I will probably look into better integrating that into this repo.

[2018-10-25 06:58] johanbrandhorst commented on #317
It's possible to just use JSON with gRPC. I'm not yet sure how well the various proxies handle it, but I've written about using JSON with a Go gRPC server here: https://jbrandhorst.com/post/grpc-json/. There's a also a slightly more complicated (imo) tutorial on the official grpc blog: https://grpc.io/blog/grpc-with-json.

That said, it would be nice to show an example of a gRPC-Web client using J

[2018-10-25 07:00] johanbrandhorst commented on #341
My post on gRPC authentication methods mostly apply here too: https://jbrandhorst.com/post/grpc-auth/. We should try to integrate some of these solutions in gRPC-Web as well.

[2018-10-25 09:46] sandersaares opened #342 "How do I use protoc-gen-grpc-web on Windows?"
`$ sudo make install-plugin` in the readme is clearly a Linux command. I wish to use this tool on Windows. What do I do?

[2018-10-25 09:48] johanbrandhorst commented on #342
Yeah I think we need to include binary generators with the releases. Indeed, version 1.0 should probably have some pre-built binaries included with it to make adoption easier.

[2018-10-25 17:19] jianchun opened #343 "client does not receive gRPC error"
We tried to use grpc-web with [grpcwebproxy](https://github.com/improbable-eng/grpc-web/blob/master/go/grpcwebproxy) and ran into an issue that the client could not receive gPRC error.

1. When server returns an error, our callback gets `{err: null, response: <empty>}`.

[`GatewayClientBase.prototype.rpcCall`](https://github.com/grpc/grpc-web/blob/master/javascript/net/grpc/web/gatewayclientbase.j

[2018-10-25 17:30] stanley-cheung commented on #343
Can you tell me which `mode=` are you using when you generate the client with the `protoc` command?

[2018-10-25 17:31] johanbrandhorst commented on #343
The error return is a bug in the improbable proxy, as the issue you linked suggests.

[2018-10-25 17:35] stanley-cheung commented on #343
For 2, that's just a convention for Node-style API, so you have to do something like

[code]

Not ideal, but it's just a convention. https://stackoverflow.com/questions/40511513/why-does-node-prefer-error-first-callback

[2018-10-25 18:38] johanbrandhorst commented on #282
This is also happening with well known types; when using the types from the example and replacing message_interval int32 with google.protobuf.Duration:

[code]

[2018-10-25 18:47] johanbrandhorst commented on #282
Interestingly, maybe this is a space where collaboration with github.com/improbable-eng/ts-protoc-gen could pay off? Their generator already has much better support for TypeScript bindings, with no dependencies other than `google-protobuf` and any imported types.

[2018-10-25 19:12] johanbrandhorst commented on #312
This really should be part of the generated types as well.

[2018-10-25 19:13] johanbrandhorst opened #344 "Implement proper server-side streaming for `application/grpc-web+proto` content-type"
As mentioned in the README, the `grpcweb` mode only supports unary method calls. It should at the very least also support server streaming calls.

[2018-10-25 19:17] johanbrandhorst commented on #343
In my testing with `mode=grpcweb` and the grpcwebproxy this is working. What setup are you using?

[2018-10-25 19:19] johanbrandhorst commented on #343
Ah, this is limited to server streaming responses, right?

[2018-10-25 20:11] jianchun commented on #343
I am using `mode=grpcweb` with protoc.

For 2 my problem was not about the style. When a gRPC error is received I will get a response first: `{err: null, response: ...}`, and calling any getter on that response returns undefined. Only after this bad respone will I then get an error (from the "status" event).

[2018-10-25 20:18] jianchun commented on #343
No I am just doing a unary call. Not sure why it worked for you. From the links I posted, grpc Server writes upper case in trailers, from reading grpcwebproxy code it only does passthrough on frames, and [`GrpcWebClientReadableStream.prototype.parseHttp1Headers_`](https://github.com/grpc/grpc-web/blob/master/javascript/net/grpc/web/grpcwebclientreadablestream.js#L254) extracts the key unchanged, s

[2018-10-25 20:20] johanbrandhorst commented on #343
I think the in-body trailers fail, but early-response headers should still work?

[2018-10-25 20:21] jianchun commented on #343
We don't get early-response headers. Does that require http2 setup?

[2018-10-25 21:39] mitar commented on #318
So I was looking at headers in the browser in Chrome inspector. So Envoy seems to sends them as described above. So I suspect is grpc-web.

[2018-10-25 23:49] jianchun commented on #343
I tried your grpc-web compatibility test and it works as you explained. We suspect maybe our server setup is somehow incompatible and not sending those response headers.

Do you have plan to fix the trailers casing issue? (Although even with that fixed we still facing the receiving empty response before seeing status error issue.)

[2018-10-26 05:10] stanley-cheung commented on #344
The problem there is the binary format - currently the XHR API does not return back partial chunked response if the response body is binary. Hence the current default mode for gRPC-Web is `grpcwebtext` (or basically `application/grpc-web-text`. This is somewhat covered in this old issue #87.

[2018-10-26 05:11] stanley-cheung commented on #343
We can certain fix the upper-lower case issue.

[2018-10-26 05:13] stanley-cheung commented on #342
Building the plugin on Windows is currently supported via [Bazel](https://bazel.build/). See this comment: https://github.com/grpc/grpc-web/issues/250#issuecomment-414479303

[2018-10-26 05:18] stanley-cheung commented on #337
Yes the expectation is that the header is passed as `authority: value`. But this depends on the proxy implementation though - currently I believe Envoy just passes everything through but it may not be the case for another proxy implementation. So we need to keep this in mind when we implement / evaluation another proxy implementation.

[2018-10-26 07:07] johanbrandhorst commented on #343
The improbable proxy should fix the issue of the upper-casing as it's in violation of the spec. The grpc/grpc-web client could obviously implement a workaround but it should not be the one primarily responsible for fixing the incompatibility. I remain optimistic that it shouldn't be very hard to fix, so if you want this done quickly you could take a look at submitting a PR to the improbable repo :

[2018-10-26 07:07] johanbrandhorst commented on #342
Is there a plan to release pre-built binaries of the generator plugin? I think it will lower the barrier to entry significantly.

[2018-10-26 07:09] johanbrandhorst commented on #337
So it may be necessary to add a section to the spec with a list of HTTP/1.1 headers that should be translated to special HTTP2 headers, like `authority` -> `:authority`. Does that make sense?

[2018-10-26 12:31] henriiik commented on #279
I ran into this as well, and i think it is related to typescripts strict mode.

If you are interested i can probably come up with a fix and send a PR. :)

[2018-10-26 18:04] stanley-cheung commented on #337
Sorry for the confusion. When I wrote my previous comment I didn't actually look up the semantics of `:authority` http2 header. I was confused with another header we just added support on: `grpc-timeout` and thought we were dealing with roughly they are the same thing but they are not. I do know that Envoy handles and pass-thru the `grpc-timeout` header properly. I also realize what @johanbrandhor

[2018-10-26 19:31] Yannic commented on #342
@stanley-cheung This isn't the first time someone asks about building the plugin on Windows. I think we should add something to the readme to clarify that Bazel is required to build on Windows.

Or we could even go further and say to always build with Bazel regardless of the platform, which would also eliminate the need to install `protoc` separately. Of course, it would still be possible to run `

[2018-10-26 19:48] sandersaares commented on #342
Realistically speaking, without a binary release using this tool is a no-go for all of my potential use cases.

Having to compile one's development tools is just not an acceptable setup scenario in the Windows world.

[2018-10-27 06:43] henriiik commented on #279
I checked out the repo and updated `ts-example/tsconfig.json` to use  `"strict": true`.

<details>
 <summary>package.json</summary>

[code]

</details>

When I then ran `tsc` I get the following errors:

[code]

[2018-10-29 07:58] weilip1803 opened #346 "[Bug] Different services in the same proto file cannot have the same method name"

[2018-10-29 15:58] dv29 opened #347 "Why is envoy proxy required?"
If the browser supports http/2, why does grpc-web require a envoy proxy?
is it just for older browser that do not support http/2 or?

Note: quite new to grpc and http/2

[2018-10-30 01:39] rogchap commented on #244
@rwlincoln @stanley-cheung
I'm still seeing this behaviour, but only for the typescript output

The generated typescript tries to import from `"./myproject/myapi/v1/myapi_pb"` and not `"../../../myproject/myapi/v1/myapi_pb"`

I think the same fix in #249 needs to be applied to the typescript output.

[2018-10-30 04:59] stanley-cheung commented on #347
It's a fair question. When you say "browser supports http/2", it is in the context of transparently converting a regular HTTP 1.1 request and "upgrades" the connection to a http/2 one. However, for gRPC-Web to work, we need a lot of the underlying transport to be exposed to us but that's not the case currently cross browsers. We cannot leverage the full http2 protocol given the current set of brow

[2018-10-30 04:59] #347 closed

[2018-10-30 05:00] stanley-cheung commented on #342
Yes we should be a pre-compiled release of the protoc plugin. Sorry we just haven't gotten around to it yet. Will certainly work on it asap.

[2018-10-30 15:51] dv29 commented on #347
@weilip1803 thanks for those resources. I understand grpc is not http/2
@stanley-cheung thanks for that quick reply, thats what I was looking for. So in future when browsers have full htt2 protocol, will that eliminate the requirement for the proxy, correct?

[2018-10-31 08:14] pumano commented on #344
@stanley-cheung It's possible to use `fetch` for server side stream? Yes, some inconsistency, but feature will be works

[2018-10-31 08:19] pumano commented on #342
@stanley-cheung amazing! I'm waiting for it too

[2018-10-31 09:06] johanbrandhorst commented on #344
@pumano my understanding is that relying on `fetch` will compromise browser support. I think the more interesting angle right now is trying to get something like https://github.com/grpc/grpc-web/issues/87#issuecomment-290545726 merged into the closure XHR library. What do you think @stanley-cheung?

[2018-10-31 23:54] srini100 commented on #347
@dv29, it is not that browsers don't have full http2 protocol, rather it is how much of the http2 transport is exposed to the application. For example, gRPC relies on trailing headers but browsers don't expose those.

[2018-11-01 01:18] dv29 commented on #347
@srini100 Got it, do you have any document reference that I can read maybe?

[2018-11-01 04:32] stanley-cheung commented on #344
Actually I tried that 'hack' a while ago and it didn't work. Do you have more details about that?

[2018-11-01 08:01] johanbrandhorst commented on #344
Pinging @jonny-improbable, @marcuslongmuir, @easyCZ, @mwitkow

[2018-11-01 16:19] jackielii commented on #291
I think this should be added to the README, it confused me a lot in the beginning, especially there is and example that uses the `grpcwebproxy` , and a link to the other repo.

[2018-11-01 18:17] srini100 commented on #347
I found [this](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md) to be useful to understand the wire format differences. As you can see, the proxy is essentially needed to convert between grpc-web and native protocol.

[2018-11-03 16:24] cevaris opened #349 "make install-plugin failure"
Latest master
[code]

Dont think this is required, but did anyway
[code]

And on plugin install, we fail on client_streaming error?
[code]

g++ version
[code]

[2018-11-03 21:58] cevaris commented on #349
Turns out my protobuf install was incorrect.

My work installs a custom version of protobuf that is incompatible with this install for some reason.
To fix, just overwrote the custom protobuf installation with the opensource brew version.

[code]

[2018-11-03 21:58] #349 closed

[2018-11-05 09:00] lgordey opened #350 "Web Sockets support"
Hi guys!

Is there `WebSocket` support in `grpc-web`?
All current examples are about http REST.

[2018-11-05 11:12] weilip1803 commented on #350
There is only server side streaming now on grpc-web where the client makes a unary request and the server streams a response till it gets canceled.

 Grpc-Web does not support 2 way/bidi streaming yet like websocket does. You can add your use case here at this [link](https://github.com/grpc/grpc-web/issues/24).

[2018-11-05 21:13] jakepoz opened #351 "Documentation for Credentials"
We would like to be able to pass in CallCredentials to Grpc-web requests. I see that the Client objects support taking a credentials argument:

`  /**
   * @private @const {?Object} The credentials to be used to connect
   *    to the server
   */
  this.credentials_ = credentials;`

But I don't see that this is used anywhere. We're looking to add in a metadata Authorization token automatically on

[2018-11-05 21:56] stanley-cheung commented on #351
You can add your Authorization token as a key:value in the `metadata` parameter per generated RPC method (usually the 2nd parameter).

The `credentials` object in the client constructor is currently not hooked up yet.

[2018-11-05 22:35] jakepoz commented on #351
We are passing it now this way, but it requires remembering to do this per each call of the RPC. Is there a timeline for the credentials capability?

We have also considered another option, of simply sending cookies with each request and authenticating that way. Would this be reasonable?

[2018-11-05 22:43] johanbrandhorst commented on #351
Automatically attaching a header on outgoing requests is a typical use of a gRPC client interceptor (like http middleware). I think interceptor support would help solve this issue.

[2018-11-05 22:47] stanley-cheung commented on #351
Allowing sending cookies is tracked at #176
But yes, an even better design is Interceptor support, which is tracked at #283.
Both are very much in our radar.

[2018-11-06 00:06] jakepoz commented on #351
Thank you Stanley, our solution for today is to structure the service on the same origin, so we can send cookies with the request automatically.

[2018-11-06 04:55] henriiik commented on #279
these problems should be fixed now :)

[2018-11-06 09:07] purebluesong commented on #279
thx, I have replaced all grpc-web with this [grpc](https://github.com/improbable-eng/grpc-web) although :)

[2018-11-06 21:18] wenbozhu commented on #350
Yes, use cases are always useful.

With websockets over http/2 becomes more widely available and supported by proxies, we will look into supporting ws for bidi streaming, with proper fall-backs.

This is also covered in the[ road-map doc](https://github.com/grpc/grpc-web/blob/master/ROADMAP.md).

[2018-11-06 21:18] #350 closed

[2018-11-07 13:04] pumano opened #355 "[Blocker] Difference between Typescript generator code and type definition from npm grpc-web package"
**Description:** Due to #345 and `not updated` npm package of `grpc-web` we have type collision between `index.d.ts` in `grpc-web` package and code generation where `ClientReadableStream` now generic.

**Expected Result:**
Update grpc-web npm package with latest changes from repo

[2018-11-07 16:58] smnbbrv opened #356 "Code generator: npm CLI package or docker builder image"
Hi guys,

your project is super!

Do you have any plans on creating some sort of NPM cli package (e.g. grpc-web-cli) that generates the code without cloning the repository and compiling it locally, like e.g. node-sass does it?

So, I can add it to any web project by `npm i -D grpc-web-cli` and generate the code flawlessly on any physical / virtual machine without any problem.

**Another option**

[2018-11-07 17:49] stanley-cheung commented on #355
Will do.

[2018-11-07 18:50] pumano commented on #356
@smnbbrv currently you can use as workaround https://github.com/juanjoDiaz/grpc-web-generator docker image

[2018-11-07 22:18] #355 closed

[2018-11-08 01:02] scottdonaldau opened #358 "index.js is missing in version 1.0.1"
Hey guys,

I've noticed that in grpc-web 1.0.1 the `index.js` file is no longer present causing compilation issues for my app. Rolling back to 1.0.0 I can see both the typescript and commonjs versions in the node_modules/grpc-web/ directory.

## 1.0.0 installed
[code]

## 1.0.1 installed
[code]
Cheers,
Scott

[2018-11-08 02:55] stanley-cheung commented on #358
Sorry I must have fat-fingered something. Working on 1.0.2 now.

[2018-11-08 03:59] #358 closed

[2018-11-08 04:03] stanley-cheung commented on #358
npm package `1.0.2` has been published. The issue should be fixed now. Sorry about that.

Also interesting that `1.0.1.1` is not a valid npm package version

[2018-11-08 06:01] smnbbrv commented on #356
would be super if this workarund would be quite official one and mentioned in the README :)

[2018-11-08 06:06] scottdonaldau commented on #358
Legend, thanks mate!

Can confirm it's working with 1.0.2

[code]

[2018-11-08 20:27] jonno317 opened #361 "ERR_INCOMPLETE_CHUNKED_ENCODING 200 (OK) on idle stream"
I have a few streams running through an envoy proxy and am seeing the same behavior mentioned in #309 .

Specifically after 5 minutes streams timeout with a POST net::ERR_INCOMPLETE_CHUNKED_ENCODING 200 (OK) error. I do have the max_grpc_timeout set in the envoy config file in the way mentioned in the documentation from #309.

I don't see any other known bugs around server side streaming. Are ther

[2018-11-09 13:07] SebDE commented on #361
I ran into a similar problem. I would like to use the server-stream for a listener-pattern. In detail I would like to register the client via a server-stream to a listener on a grpc-server and get continuous updates. But after some time of inactivity the stream died like @jonno317 described. Are there any options for long running streams, or better for infinitely running server-streams?

[2018-11-09 14:58] jonno317 commented on #361
@SebDE I did come across a setting on the envoy side of things that seems to be mitigating it. I haven't thoroughly tested yet, but I also haven't seen the issue again since I added it.

I believe the config from the example can be modified as follows to support long-lived streams.

[code]

Hopefully someone else can chime in on whether there's a downside to that combination of settings.

[2018-11-09 19:18] natemurthy opened #363 "Unable to build protoc-gen-grpc-web on macOS"
I have been following the [grpc-web helloworld example](https://github.com/grpc/grpc-web/tree/master/net/grpc/gateway/examples/helloworld) but am stuck when trying to build the `protoc-gen-grpc-web` plugin on my Mac. Here's what happens:
[code]
Wondering how do I properly link this library?

(Cross posted here: https://groups.google.com/forum/#!topic/grpc-io/kcIZb6N_Lhg)

Here's my setup:
[code]
[

[2018-11-09 20:01] johanbrandhorst commented on #363
Related #342

[2018-11-09 20:28] stanley-cheung commented on #363
Oh I see, you have the `protoc` binary, but not the protoc library that we can link with `-lprotoc`.

This is not good user experience, but you will have to manually compile and install the protoc library for now.

In the helloworld example README, here's the instructions on how to compile and install protoc:

[code]

We will be providing pre-compiled binaries for the `protoc-gen-grpc-web` plugin

[2018-11-09 21:30] natemurthy commented on #363
Thanks @stanley-cheung, that was my assessment after reading #342 . Any tips or "gotchas" I should be aware of to ensure my existing `protoc` binary and libraries do not interfere with this manual installation?

[2018-11-09 21:40] natemurthy commented on #363
As a related matter, I also tried `npm` installing this from https://www.npmjs.com/package/@grpc-gen/protoc-gen-grpc-web but observed that there it is currently not supported on macOS.

[code]

I don't know the relationship of this download with the actual plugin I need to generate the JS I need from protobuf. Maybe something @zaucy could chime in on?

[2018-11-09 23:45] stanley-cheung commented on #363
For the first question, when compiling `protoc` manually, you can set the `PREFIX` environment variable to control where to install the result library.

For the 2nd question, unfortunately that package was not maintained by us here.

[2018-11-10 00:54] natemurthy commented on #363
Posting here for reference because I liked this solution and maybe others will find this useful as well:

@juanjoDiaz created a Docker image that has all the `protoc` binaries backed in: https://github.com/grpc/grpc-web/issues/356#issuecomment-436735632

[2018-11-10 04:53] weilip1803 commented on #361
[

[2018-11-10 05:43] xeoshow opened #364 "How big is the performance gap between the grpc-web compared with gprc ?"
Hello,

If using grpc-web with envoy, and in the same env, compared with grpc native client (backend is the same grpc server), How big is the performance gap between the grpc-web compared with gprc ?

Googled but seems did not find anything useful, any help is highly appreciated!

Best regards, Jason

[2018-11-10 05:55] wenbozhu commented on #364
The latency is pretty much decided by the browser and then the Envoy (proxying overhead).

However, (with https) most browsers will speak HTTP/2 against Envoy.

CPU is dominated by the protobuf more than anything else.

[2018-11-10 05:55] #364 closed

[2018-11-10 06:13] xeoshow commented on #364
Hello wenbo,

Thanks for quick help. I found a below pic, which shows gRPC-Web (from Browser) connect to envoy via HTTP/1.1, if so, could it still utilize the good features from HTTP/2? And this is why I would like to question about the performance...
https://cdn-images-1.medium.com/max/1000/1*XzL4BnES1u_DXz3qXq73xQ.png

And regarding the browser and Envoy, if we assume their overhead is negligibl

[2018-11-10 06:33] xeoshow commented on #364
Aha, got it, so that pic should replace HTTP/1.1 with HTTP/2 if the browser supports HTTP/2 ...

And I can think of the performance gap is minor from theory when assuming the overhead of browser and Envoy is negligible?

Thanks a bunch!

Best regards, Jason

[2018-11-10 06:43] wenbozhu commented on #364
Pretty much all browsers will negotiate http/2 with the proxy for https.

Re: performance gap, correct, when the browser also speaks http/2.

===

OTOH, the binary protobuf is noticeably slower than JSON in browsers. As mentioned on the road-map doc, we are in the process of open-sourcing a more efficient (text) encoding format for protobuf for web clients.

[2018-11-10 07:30] stanley-cheung commented on #318
Very strange, let's say we have this response header `grpc-message: Foo: Bar` sent back from gRPC backend service, and thru Envoy, from the browser console, the header value apparently was sent back properly.

But, if I call `xhr.getResponseHeaders()` to get the whole bag of response headers, one of the key:value pair was `grpc-message: Foo`.

OTOH, if I call `xhr.getResponseHeader('grpc-message')

[2018-11-10 07:51] xeoshow commented on #364
Got it. And last question: since grpc-web could be installed via npm as below, so it should can be used in the nodejs server context? If so, still the same situation regarding performance? Thanks!
`npm i grpc-web`

[2018-11-10 07:55] wenbozhu commented on #364
No, grpc-web only works from browsers.

[2018-11-10 07:55] stanley-cheung commented on #364
No, the `grpc-web` npm package is only meant to be used in browsers

[2018-11-10 07:56] #318 closed

[2018-11-10 13:46] Generalomosco opened #366 "grpc-web server screaming only receive single response"
[code]

This will only receive single response from server using grpc-web in form of request and response without screaming but it is written it support server screaming in the documentation

[2018-11-10 16:20] Generalomosco commented on #366
Everything is working fine now using this below envoy configuration

admin:
  access_log_path: /tmp/admin_access.log
  address:
    socket_address: { address: 0.0.0.0, port_value: 9901 }

static_resources:
  listeners:
  - name: listener_0
    address:
      socket_address: { address: 0.0.0.0, port_value: 27017 }
    filter_chains:
    - filters:
      - name: envoy.http_connection_manager

[2018-11-10 21:06] davlia opened #369 "TypeError: goog.Timer.defaultTimerObject.setTimeout is not a function"
Using gRPC-web on the frontend seems to trigger a library fault in `grpc-web` 🤔 unsure if this is a known error so posting here and hoping someone else has encountered it.

Protos built with
[code]
Top-level code that triggers bug
![image](https://user-images.githubusercontent.com/4954518/48306027-926e1180-e4e9-11e8-90e9-fa0e21e8c7e3.png)

I am currently using TS 2.8.3 along with
[code]

![image](

[2018-11-10 21:51] zaucy commented on #363
@natemurthy I made the package ([@grpc-gen/protoc-gen-grpc-web](https://www.npmjs.com/package/@grpc-gen/protoc-gen-grpc-web)) to help with the build ecosystem I am currently working with. This one is very out of date and I wouldn't recommend using it.

I do have a package called [zaucy-protoc-gen-grpc-web](https://www.npmjs.com/package/zaucy-protoc-gen-grpc-web) that does have macos support (untes

[2018-11-11 10:18] pengux opened #370 "Generated setters and getters are not properly camelCased"
Example:

[code]

becomes

[code]

in the JS code. Expected is `setFooBar()`

[2018-11-11 10:39] johanbrandhorst commented on #370
Protofiles use snake_case, rename your field `foo_bar`.

[2018-11-11 18:53] peaceiris opened #371 "Fix the link to our project's site"
![screen shot 2018-11-12 at 3 46 46](https://user-images.githubusercontent.com/30958501/48316965-df5b0080-e62d-11e8-90c5-eb622a6a9770.jpg)

I suggest the link change.

[code]

[2018-11-12 02:39] stanley-cheung commented on #371
Fixed. Thanks for pointing that out!

[2018-11-12 02:39] #371 closed

[2018-11-12 02:39] #370 closed

[2018-11-12 08:46] sirudog opened #372 "gRPC-web nginx module does not work with latest nginx v1.15.6"
Hi,

I have compiled nginx 1.15.6 with the custom nginx module found in this repo successfully. The commit I used for nginx is: https://nginx.googlesource.com/nginx/+/13a0072553ac718a26220f68747cd2875dec52e2

Then I used this grpc-web-enabled nginx in the echo example, but I got errors.
After that I realized that nginx is a submodule in this repo and it is fixed to this commit: https://nginx.googl

[2018-11-12 15:21] pumano commented on #282
Looks like it not fixed and also very blocker for us.

@stanley-cheung can you provide some ETA for that bug?

Looks like also `Array<Entity>` is not deserialized properly and also `Entity` not added to d.ts

[2018-11-12 22:07] stanley-cheung commented on #372
Unfortunately, there is currently no plan to make sure the custom grpc-web module works with later version of Nginx. Our tests rely on the fact that the third_party/nginx module is pinned to this older version.

[2018-11-13 10:51] pumano commented on #282
Looks like it should be supported `FieldDescriptor::TYPE_MESSAGE` for `repeated`. Missing entity TypeScript definition as issue author mentioned:

[2018-11-13 16:01] dalu commented on #372
May I ask something?

Do I require this nginx module when I have a grpc service sitting behind nginx?
I just checked this repo again and saw that it was >=v1.0.
Congratulations, this is a big step imho.

[2018-11-13 20:00] sirudog commented on #372
@dalu Yes. This module translates between grpc-web and grpc protocols. So in your nginx config you can proxy (with grpc_pass) to your grpc service behind nginx.

[2018-11-13 21:48] stanley-cheung commented on #372
Yea. We kind of have an example on how you can use this Nginx grpc-web module here: https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/docker/nginx/Dockerfile

You will need to compile with something similar to `make standalone-proxy` and need a `nginx.conf` with a `grpc_pass` config line like this: https://github.com/grpc/grpc-web/blob/master/net/grpc/gateway/examples/echo/nginx.conf#L

[2018-11-13 21:48] #372 closed

[2018-11-14 19:10] natemurthy commented on #363
@zaucy @stanley-cheung Thanks guys. I'll go ahead and close this out. Is there a way I can track release progress on the pre-built plugin binaries?

[2018-11-14 19:10] #363 closed

[2018-11-16 09:25] Edregol opened #375 "missing generics in generated typescript file"
Hi there,

first of all, I am working on a windows machine. I got the latest precompiled version of the protoc for windows found on https://github.com/protocolbuffers/protobuf/releases/tag/v3.6.1

I've checked out the grpc-web version https://github.com/grpc/grpc-web/commit/e03f5ddb63cc872224167897f20af71047b6cb8e and compiled the *protoc-gen-grpc-web* plugin with bazel myself.

My proto file look

[2018-11-16 11:06] #279 closed

[2018-11-16 21:08] javoire opened #376 "JSON Support"
Having JSON support for payloads in gRPC web would be great. One of the reasons why is that It's possible that the native parsing of JSON is faster in slower devices like TVs than grpc-web protobuf base64 decoding.

Cheers

[2018-11-17 01:32] cenyG opened #377 "e.serializeBinary is not a function"
Hi, I do everything according to Readme, but it's not working for me.
Ok, I thought, may be something wrong with my environment and I tried to do the way with dockers. Copy/Paste from Readme.md :
[code]
But I still have an error
[code]

Can you help me please?

[2018-11-17 08:23] cryingpotat0 opened #378 "SSL Target name override"
I have a backend that is an IP address for which I issued a self-signed certificate. I am able to make it work by adding that IP address to the hosts file on the server and adding the following config in python
`options = {
	'grpc.ssl_target_name_override' : 'NAME',
	'grpc.default_authority': 'NAME'
}
`

Is there a way to do something like this for the javascript clients? I currently get a CERT_CO

[2018-11-17 23:56] QuentinBrosse opened #380 "Error on helloworld example"
Hi!

I just try to run the [hello world example](https://github.com/grpc/grpc-web/tree/master/net/grpc/gateway/examples/helloworld) to try this project but I'm facing a `upstream connect error or disconnect/reset before headers` error when I try to fetch `http://localhost:8081/` in my browser.

The code of my helloworld project is identical to those you give in the `README.md` (I ended up copying/

[2018-11-18 00:06] QuentinBrosse commented on #376
I think that it's already in [the roadmap](https://github.com/grpc/grpc-web/blob/master/ROADMAP.md#non-binary-message-encoding) :)

[2018-11-18 03:09] stanley-cheung commented on #380
Are you using Mac? `--network=host` may not work in Mac. You might have to use the `--link node-server:node-server` flag to start the Envoy server, add `--name node-server` when starting the Node backend server, and use `node-server` when referencing the backend address in the `envoy.yaml`.

[2018-11-18 03:11] stanley-cheung commented on #378
Have you tried adding these to the `metadata` argument per RPC call? Usually the 2nd parameter in each generate method.

[2018-11-18 03:12] stanley-cheung commented on #377
Can you make sure no other programs are running at port `:8080`. `:8081` and `:9090`? That's the only thing I can think of right now

[2018-11-18 17:17] QuentinBrosse commented on #380
Thanks @stanley-cheung for your quick answer!
Indeed, I'm using MacOs. Your advice was really helpful, thanks!

In order to make it work, I created a docker compose file.
I think it could be a good idea to include it in the helloworld guide in order to reduce the friction during the onboarding of new users. What do you think?

Here is the diff that I have made:

## docker-compose.yaml

Note that [

[2018-11-19 03:10] cenyG commented on #377
Now it works like in Readme.md, but I don't know why.
It's not about ports, I retried a lot of times and then it suddenly start working))
You can close it.

[2018-11-19 03:30] chaoyang805 opened #381 "grpc-web call receives CORS error when using nginx proxy"
I am testing the helloworld demo using nginx as proxy. But received a CORS error in chrome console. Here is the console error:

[code]

![image](https://user-images.githubusercontent.com/11256895/48684803-6855d700-ebee-11e8-8cc3-785586850f57.png)

I am a little confused by this error. Should I configure **Access control** setting in grpc-web client side or nginx proxy side? I tried putting code be

[2018-11-19 05:39] Edregol commented on #381
As far as I know nginx does support grpc but it doesn't support grpc web. Thus it won't work as a proxy in that case.
You might want to use envoy or a go server implementation.

[2018-11-19 05:56] chaoyang805 commented on #381
I saw there is a nginx setup command in the README file's **Proxy Interoperability** section. I thought nginx is ready for grpc-web. Am I wrong about it? BTW I've tried envoy and gRPC-Web Go Proxy as well. The envoy proxy gave me an `upstream connect error or disconnect/reset before headers` error and gRPC-Web Go Proxy works fine when I use `mode=grpcweb` generates proto js file. However this mode

[2018-11-19 08:49] stanley-cheung commented on #381
It appears that the main thing is this line `listen       80 http2;`. If I remove `http2`, it works. You may have to have a separate port to listen to http2 traffic like

[code]

[2018-11-19 08:53] chaoyang805 commented on #381
Thanks for your reply. I ran this command you provided and after a few minutes building. It stucked at compiling `php_generator.cc` file. I wait a long time for it to continue but receive no response. What is happening here ? And I wonder is it possible for me to compiling nginx on my machine without using docker?
![image](https://user-images.githubusercontent.com/11256895/48695434-14f97e00-ec1a-1

[2018-11-19 08:58] stanley-cheung commented on #381
For that, you might be having an old version of protobuf. You might need to re-install protobuf by doing

[code]

And then try to re-compile gRPC

[2018-11-19 11:32] pumano commented on #375
looks like you need to:
1) recompile grpc-web protoc plugin
2) recompile your proto files
3) update grpc-web npm package to latest

And you got what you want.

[2018-11-19 12:07] asinbow commented on #369
What's your web console output?
I encountered the same problem,
[code]
It is an CORS issue.

And after I changed
[code]
to
[code]

[2018-11-19 12:16] asinbow commented on #369
I guess you are migrating your code from grpc-node to grpc-web,
so here comes another tip:
[code]
There is an extra argument `metadata`, you should pass `{}` in.

I which these would help!

[2018-11-19 19:11] stanley-cheung commented on #369
This seems to be a CORS issue? Which proxy are you deploying to handle your grpc-web requests?

[2018-11-19 19:11] #377 closed

[2018-11-20 12:31] smnbbrv opened #382 "Angular support"
Hi guys,

it would be really nice to have a deep Angular support.

One can say it is supported, and, well, one can use it with Angular. However, it currently feels like a alien bird in the nest because

1. dependency injection is not anyhow taken into account. Ideally every service client could become a native angular service
2. the methods are not compatible with neither RX Observables / native P

[2018-11-20 15:24] dalu commented on #382
Searching, I stumbled upon https://github.com/kondi/rxjs-grpc

Idk if it's good or bad or anything, maybe someone could borrow some inspiration from it

[2018-11-20 17:03] pumano commented on #382
@smnbbrv yes, I found it too!
Some man few weeks ago commited to `PromiseClient` template generation, you can contribute to create `AngularWayRxJSClient`, it will be very helpful for using it from Angular.

Also I share some my findings:
1) DI
[code]
where TodoServiceClientFactory is:
[code]

2) About bad code generation:
I also use Observable wrapper as you do.

[2018-11-20 20:31] dalu commented on #375
I'm also getting the latter for streaming resources with v1.0.0, unless it's master we're supposed to clone?
I see there are v1.0.1 and v1.0.2 tags but they're not releases?

[2018-11-20 21:12] raghavanand98 commented on #378
I did try that, it did not help. I was wondering if the options names were different for grpc-web?

[2018-11-21 02:29] kyktommy opened #383 "grpc-web react native android got http response at 400 or 500 level"
I run grpc-web example: hello world in react native android.
Then I got http response at 400 or 500 level, no problem in iOS.
Envoy log response status: 503

react-native: 0.57.4
grpc-web: 1.0.2

Anyone successfully run in android?

[2018-11-21 05:38] wenbozhu commented on #383
We don't have much experience on using grpc-web on RN, although we are pretty sure that google-closure is compatible with RN. The error status may be caused by the client environment?

Keep us updated, and it's good to know that iOS works fine.

[2018-11-21 06:38] kyktommy commented on #383
Here is the envoy debug log in android which is not success:
some headers are different from success log, is does matter?

[code]

And here is iOS success debug log:

[code]

[2018-11-21 12:09] ostwsds commented on #375
Hi,

I'm pulled, installed and compiled the current versions a minute ago, same problem like discribed.
What I'm doing wrong?

Best Olaf

[2018-11-22 07:13] syklevin commented on #383
I think the key problem is about `content-type` value
In android, it would append extra charset, refer to this [issue](https://github.com/facebook/react-native/issues/14445)

[2018-11-22 07:40] Edregol commented on #369
I had the same issue. If you are try to connect with something like **localhost:8080** the client doesn't seem to connect the right way.
Didn't dig into that since just attachting the protocol solved the problem  **http://localhost:8080** . However since the client is a http client, it would be nice to be able to omit the protocol.
I've used the envoy proxy, provided in the Echo Example.

[2018-11-22 08:01] Edregol commented on #381
This doesn't work for windows I suppose? Is there an option to just compile the module, which I can use on a windows machine?

[2018-11-24 08:58] weilip1803 opened #384 "Help with implementing Stream re-connection for grpc-web."
Currently, if the grpc service is not active or running, for example if echo service is not available. This only returns a post error request which does not goes into the stream.on('error', ...) callback unlike the nodejs api. Are there plans to make this consistent with the nodejs api? And is waitForReady() going to be implemented also?
[code]
Even for unary calls, the error does not trigger the

[2018-11-26 13:39] pumano commented on #384
I got the same problem, also need clarification about it.
I don't receive any error in `stream.on('error', ...)`

[2018-11-26 15:02] wenbozhu commented on #383
This is good to know.

We will see if we could fix the proxy to allow the appended charset string.

From what's reported on the RN issue, it seems that RN will append charset to any C-T.  I wonder if +proto will prevent this behavior.

[2018-11-26 16:33] tam15 commented on #250
Hello, I'm trying to use bazel to compile this plugin however I'm getting a "no such package" error, has this changed location since @Yannic 's solution?

$ bazel build @com_google_protobuf//:protoc //javascript/net/grpc/web:protoc-gen-grpc-web
ERROR: python.exe not found on PATH
Loading:
Loading: 0 packages loaded
ERROR: Skipping '//javascript/net/grpc/web:protoc-gen-grpc-web': no such package 'j

[2018-11-26 16:36] tam15 commented on #342
Hello, I'm trying to use bazel to compile this plugin however I'm getting a "no such package" error, has this changed location since @Yannic  's solution?

$ bazel build @com_google_protobuf//:protoc //javascript/net/grpc/web:protoc-gen-grpc-web
ERROR: python.exe not found on PATH
Loading:
Loading: 0 packages loaded
ERROR: Skipping '//javascript/net/grpc/web:protoc-gen-grpc-web': no such package '

[2018-11-26 17:35] zaucy commented on #382
I think it would be better suited to have a protoc plugin that supplies 'deep' support for angular instead of including it in this repository. There's no end to the amount of frameworks that could incorporate gRPC Web. I think it would be unreasonable to keep support for these frameworks in this repository.

I have experimented with a plugin for angular support. All it does is wrap services into i

[2018-11-27 03:31] kingreatwill opened #386 "About grpc-web"
GPRC itself is based on HTTP 2.0 design, why grpc-web also needs Envoy proxy, I am a little confused, who can help me answer?

[2018-11-27 03:38] wenbozhu commented on #386
Please check the [spec doc](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-WEB.md).

[2018-11-27 03:38] #386 closed

[2018-11-27 09:34] weilip1803 commented on #382
Does anybody here run into some kind of instability when using grpc web with angular? I am sure i do the proper clean up when i subscribe to a stream for my various components. But it seems like after navigating between a few components, the grpc-web connection stops working and i will need to hit refresh for the app to work again. I have about 10 pages. 6 services all routed through the same list

[2018-11-27 16:04] thomasamills opened #390 "protoc-gen-grpc-web generated files issue"
Hello,

Whilst using the protoc-gen-grpc-web plugin with --grpc-web_out set as:
    --grpc-web_out=import_style=commonjs+dts,mode=grpcwebtext:

The resulting _pb.d.ts file contains class and namespace definitions of messages only in the top level of a message structure.

For example, with a message "Foo" in one file (foo.proto)

message Foo {
   Bar b = 1
}
message Bar {
  string msg = 1
}

And a

[2018-11-28 02:05] stanley-cheung commented on #342
The pre-built binaries for the `protoc-gen-grpc-web` plugin for Windows has been uploaded along with the latest 1.0.3 release. Please check it out.

https://github.com/grpc/grpc-web/releases

[2018-11-28 02:05] #342 closed

[2018-11-28 02:06] stanley-cheung commented on #250
The pre-built binaries for the `protoc-gen-grpc-web` plugin for Windows has been uploaded along with the latest 1.0.3 release. Please check it out.

https://github.com/grpc/grpc-web/releases

[2018-11-28 02:06] #250 closed

[2018-11-28 02:10] #381 closed

[2018-11-28 02:10] #369 closed

[2018-11-28 02:13] stanley-cheung commented on #356
The pre-built binaries for the `protoc-gen-grpc-web` plugin has been uploaded along with the latest 1.0.3 release. Please check it out.

https://github.com/grpc/grpc-web/releases

[2018-11-28 02:13] #356 closed

[2018-11-28 13:55] jmzwcn opened #393 "Help: easily from js-object to ts-object in typeScript?"
How to easily from js-object to ts-object in angular/typescript? the below is so ugly...

const ordersClient = new OrdersClient(environment.apiUrl, null, null);
          const order = new Order();
          const contact = new Contact()
          contact.setName(this.person.name);
          contact.setTel(this.person.tel);
          order.setContact(contact);
          let from = new Position();

[2018-11-28 19:09] danfabi opened #395 "Generated JS code: Closure compiler errors"
[code]

[2018-11-28 19:11] factuno-db commented on #395
ERROR - could not determine the type of this expression
        error ? reject(error) : resolve(response);
        ^
  ProTip: "JSC_UNKNOWN_EXPR_TYPE" or "missingSourcesWarnings" or "reportUnknownTypes" can be added to the `suppress` attribute of:
//<target>

  Alternatively /** @suppress {reportUnknownTypes} */ can be added to the source file.

[2018-11-28 19:13] factuno-db commented on #395
Here is the generated source code:

(package).prototype.index =
    function(request, metadata) {
  return new Promise((resolve, reject) => {
    this.delegateClient_.index(
      request, metadata, (error, response) => {
        error ? reject(error) : resolve(response);
      });
  });
};

[2018-11-28 19:14] factuno-db commented on #395
The same error repeats over and over for `error`, `reject(error)` and `resolve(response)`.

[2018-11-29 01:47] weilip1803 commented on #390
What i did was to use commonJs version and do a
const bar = require(<file_name>.js) and create the bar object to feed it back to foo.

[2018-11-29 09:37] thomasamills commented on #390
The recent commits fixed this issue, however, some classes and names are now being duplicated.

[2018-11-29 12:07] AnaitBI commented on #294
Hi,
what is the status of this issue?
I'm also struggling with these same issues.

Can't find any way to make it work.

my grpc client is react js, server grpc in csharp
Docker on windows 10 with envoy proxy running.
![image](https://user-images.githubusercontent.com/39155784/49202389-20cd0900-f3ad-11e8-81ce-21163f3a13ed.png)

I run this command and generated my js files (on linux ubuntu 16):

Now

[2018-11-29 12:47] thomasamills commented on #390
Unrelated to my first post but fits within the scope of the issue name. Within the generation of the d.ts file, maps are not handled and the resulting js field types are defined as a list instead. I'm working on a fix now.

[2018-11-30 03:09] rogchap commented on #244
This seems to have been fixed by #360

[2018-11-30 06:37] #244 closed

[2018-11-30 06:39] #336 closed

[2018-11-30 10:15] jscti opened #399 "Decoding grpc-status-details-bin ?"
Hi there

Server side, we send an error withDetails (in GO) :
[code]

Client side (js / typescript), we need to retrieve these details somehow but all we receive is a serialized string (`trailers.get('grpc-status-details-bin')` ) .. how can we decode it ?

Thanks

[2018-11-30 10:16] johanbrandhorst commented on #399
Go encodes the metadata as base64 after marshalling the proto message, so you should be able to base64 decode followed by a unmarshalling of the data into a `google.rpc.Status` type.

[2018-11-30 10:18] johanbrandhorst commented on #399
See https://github.com/grpc/grpc-go/blob/ca62c6b92c334f52c7e48b7cbf624f3b877fb092/internal/transport/http_util.go#L317 for how its done in Go clients. Should be very applicable to JS clients too. We may need to add some convenience function for this, but for now this is what you will need.

[2018-11-30 10:22] jscti commented on #399
Thanks for the (very) quick reply.

DIdn't recognize a base64 string, but yeah, decoded it this way and it's OK ;)

Thanks

[2018-11-30 12:39] weilip1803 opened #401 "Commit from #385 breaks d.ts proto generation"
#385 adds typings to all the getters and setters. But currently files that only contain messages do not generate d.ts typings. And services which import from such files do not get the types of such files as they are not being generated.

To reproduce. Just have 2 proto file. 1) Proto A contains the service and some message that requires to import from proto b. 2) Proto b which only contain message

[2018-11-30 13:31] weilip1803 commented on #384
I have just tried your example. You can try typing 1000 hello into the chat box and press send. Then you just need to kill the service while the node.js grpc server is still streaming the message. You will realize you will not get back the error code message 99% of the time.

[2018-11-30 14:01] weilip1803 commented on #384
Okay i realize my mistake on my side it was a dump mistake. You can close this. But is examples/echo/echotest.html used at all? I think you should remove it it really confused me I spend 1 hour thinking that the dockerfile used that file. But other than that thanks for the help.

[2018-11-30 15:43] jscti commented on #399
Struggling for a few hours now, I can't figure out how to parse the base64decoded string.
Nothing seems related on node_modules/grpc or node_modules/grpc_web_client. Can't find either any grpc/status look-alike file.

If you have any clue ^^

Server side :
[code]

Client side, I receive :
[code]

[2018-11-30 15:58] johanbrandhorst commented on #399
Yeah that looks right, but you still need to parse the `any.Any` details in your `status.Status` type. You need to switch over the `typeURL` (e.g. `type.googleapis.com/gateway.public.Error`) and unmarshal the `value` into the correct type.

[2018-11-30 16:11] jscti commented on #399
You totally lost me there
grpc-web-client doesn't have a Status class/object to load the entire response in one go.
Do I have to parse the response as a string ? Split over line-break, remove last numeric char if it exists (wtf?).

[2018-11-30 16:18] johanbrandhorst commented on #399
OK I thought you had parsed this into a status type already, but I assume this string is just what you go from base64 decoding the trailer then? Here's what you need to do:

1. You need to generate a JS type for the `google.rpc.Status` type (https://github.com/googleapis/googleapis/blob/master/google/rpc/status.proto). I don't know if this exists pre-generated anywhere.
2. Importing from the previ

[2018-11-30 16:47] jscti commented on #399
Thanks for the help !

Stuck at step 2 :D

Tried :
[code]
But decoder triggers an error ... "Failure: Decoder hit an error"
Can't find a proper string to base64 helper ..

[2018-11-30 16:50] johanbrandhorst commented on #399
You still need to base64 decode it first. What does `atob` do?

[2018-11-30 16:50] johanbrandhorst commented on #399
You should be able to get a `Uint8Array` from a base64 decoder of the original string.

[2018-11-30 17:03] jscti commented on #399
atob returns a string :/

[2018-11-30 17:05] johanbrandhorst commented on #399
Does creating a `Uint8Array` from the string work? Anyway, that issue is clearly outside the scope of this issue. I think we can definitely do some work to make this easier for users, but I've given the basic instructions.

[2018-12-01 17:51] AnaitBI opened #402 "grpc-web client in reactjs"
Hi,

my grpc client is react js, server grpc in csharp
Docker on windows 10 with envoy proxy running.
![image](https://user-images.githubusercontent.com/39155784/49202389-20cd0900-f3ad-11e8-81ce-21163f3a13ed.png)

I run this command and generated my js files (on linux ubuntu 16):

Now in the client side:
[code]

Tried to add metaadata to the request with so many types of metadata, nothing worked
[

[2018-12-01 21:59] jdebarochez commented on #402
Hello @AnaitBI
I have the same error running on Windows 10 while running the helloworld example. Does grpc-web example work out for you?

Here's the command with curl I'm using (my envoy server listens on 8080):

content-type: application/grpc-web+proto' -H 'x-grpc-web: 1' -H 'accept: application/grpc-web-text' --data-binary 'AAAAAAA='

Which outputs:

[code]
Same result as you have.

Running the

[2018-12-03 05:40] serchavalos opened #403 "TS declarations files are missing enums"
Hello 👋!

I noticed that `Enum` types are missing in the generated `.d.ts` files. This is an example

[code]

This file will generated the JS but not the declaration file
[code]

I made sure to run the command with the argument `--grpc-web_out=import_style=commonjs+dts`

Thanks in advance

[2018-12-03 06:02] rogchap commented on #403
Enum types are generated if they are nested (which was fixed in #385), but not at the top level.

[2018-12-03 11:33] rogchap commented on #403
So after a bit more digging I see that TypeScript definitions are only generated for `Message` types that are declared in a service method; hence `Message`s that are not used in a gRPC service (that are not nested) or top level Enum never get generated.

The main function in question is `GetAllMessages()`: https://github.com/grpc/grpc-web/blob/master/javascript/net/grpc/web/grpc_generator.cc#L344

[2018-12-03 18:06] AnaitBI commented on #402
Yes, also did not work

[2018-12-04 10:13] dirkarnez commented on #380
@QuentinBrosse Your docker-compose works, tested on Windows 10, Docker 18.06.1-ce-win73 (19507). Thanks so much!

[2018-12-05 01:32] alce commented on #402
I don't fully understand how your servers are setup, but if you are using docker for windows to run the envoy container, and your gRPC server is listening on localhost in your windows machine, then envoy cannot talk to it.

In the clusters entry of envoy.yaml, instead of `address: 0.0.0.0` try `address: host.docker.internal`

[2018-12-05 14:00] pumano opened #405 "[Enhancement] Rewrite grpc-web using TypeScript"
I want to contribute to this project for implementing client-side interceptors, but stuck with `.js` code base from `javascript/net/grpc/web`.

That code base contains closure imports and some closure JSDoc, some features for implementing for example interceptors require some refactoring. Modern TypeScript provide better object oriented way for creating readable code, also it's possible to have be

[2018-12-05 16:29] johanbrandhorst commented on #399
Nice work! Just a little clarification - the double marshalling is a consequence of using `any.Any` - not a limitation in grpc-go.

[2018-12-05 16:46] jscti commented on #399
Yep but when  using directly `ErrorStatusDetail` in the proto + single marshalling, I get a "Assertion failed" error

[2018-12-06 13:07] swuecho commented on #287
I come across the same problem, but in Mac.

I follow the step in helloword example, using the envoy proxy in docker.

the root of cause should be

    The host networking driver only works on Linux hosts
    https://docs.docker.com/network/host/

[2018-12-06 13:21] swuecho commented on #287
the solution in mac is

change the last line of envoy.yaml

in mac:
     hosts: [{ socket_address: { address: docker.for.mac.localhost, port_value: 9090 }}]
in win, change  mac to win should be ok.

credit: https://forums.docker.com/t/accessing-host-machine-from-within-docker-container/14248/15

[2018-12-07 05:43] stanley-cheung commented on #405
@pumano Thanks for raising this issue. We understand and receive a lot of feedback that developers prefer solid TypeScript support. One concern we have, from the project management perspective, is that this gRPC-Web client library is a shared codebase with our internal library. Unfortunately, our internal library will remain Closure-based for the foreseeable future so we have concerns about having

[2018-12-07 06:08] pumano commented on #405
@stanley-cheung OK, no problem. I will create another issue about client side interceptors for detailed architecture discussion.

[2018-12-07 06:08] #405 closed

[2018-12-07 06:27] verihelp-vaibhav opened #406 "Disconnect/close/cancel from the client side"
Hi,
I can't find any method to disconnect the client as per my command. Using an example snippet here -

[code]

The problem I'm encountering is - user clicks a button, I make a request to the gRPC server and start receiving data in a stream. If the user clicks again, I start receiving data again in another stream. I want to disconnect any previous streams/connections so that I can receive only on

[2018-12-07 07:06] stanley-cheung commented on #406
In your snippet above, you can call `status.cancel()`.

[2018-12-07 07:07] verihelp-vaibhav commented on #406
Okay, I found the way to cancel the previous stream. But still not sure how to disconnect my client completely.
For anyone wondering how to cancel the previous stream, here's a sample -

[code]

[2018-12-07 07:08] verihelp-vaibhav commented on #406
Thanks @stanley-cheung, I knew about the cancel but didn't have the object from previous call to cancel. I figured it out and pasted my code above.

Do you have any idea about completely disconnecting the client?

[2018-12-07 07:58] johanbrandhorst commented on #405
@pumano just wanted to add that github.com/improbable-eng/grpc-web is another spec compliant typescript based client that you might want to check out if you're interested in contributing these kind of additions. It will remain as an alternative implementation of the spec for exactly this and other reasons.

[2018-12-08 21:35] longfellowone opened #407 "Implementation questions"
Fairly new to gRPC/Go/JS/React. Just had a couple questions. Want to make sure I am on the right track before moving on to something more advanced

I have a simple Todo app I have been working on here.
[https://github.com/longfellowone/gRPC-web-Go-React-Hooks-Optimistic-Tailwind](url)

1. Is there a suggested way to "ping" the server from the client? should I be using a stream from server to check

[2018-12-09 09:11] swuecho commented on #351
@jakepoz could you elaborate how to send the cookies with request direct without add metadata per rpc call? Thanks

[2018-12-09 19:49] jakepoz commented on #351
Yes, our general stack is a React Frontend (made with Create-React-App) and a GRPC backend. We setup a reverse proxy (check out Envoy for example) so that the GRPC servicers are served from the same origin as the frontend, but with a certain prefix (In our example, / serves the frontend, and /grpc is the prefix for all GRPC servicers)

Then, when making your promise client you can specify a prefix

[2018-12-11 03:06] swuecho commented on #351
that is smart! thanks.

[2018-12-11 06:41] AnaitBI commented on #402
@alce
All are on one windows machine the docker, the image and the gRPC.
What address exactly should be changed to' host.docker.internal', what does it mean?

[2018-12-12 20:53] jdebarochez commented on #402
Thanks for your help everyone! Indeed it works with ```host.docker.internal```. Now I understand my mistake.
My code is hosted [here](https://github.com/jdebarochez/hello-grpc).

[2018-12-13 15:44] bpicolo opened #408 "Typescript generation creates invalid method declarations"
The generated client methods for Typescript clients declare metadata as optional (note the `?`):

[code]

This leads to the typescript error:
`required parameters cannot follow optional parameters`, as callback is not declared optional.

This should either support callback as optional, or declare nullability/undefined for metadata

[code]

Also, given this is occurring, there might not be a smoke

[2018-12-13 16:00] bpicolo opened #410 "Typescript client fails typescript compile under noUnusedLocals"
When `noUnusedLocals` is set as a Typescript option, the generated ServiceClientPb is invalid, as it imports top-level proto objects that aren't necessarily used in the ServiceClient interface.

Say I had this very off the cuff example protofile:
[code]

In this case, `InnerRequest` is imported by the ServiceClientPb, but is unused within the ServiceClient, as the client only uses the higher-level

[2018-12-13 16:02] bpicolo opened #411 "js_out with import_style=closure is incompatible with grpc-web_out import_style=Typescript"
Not sure what the best resolution is, but should probably raise an error if attempting to use these two together.

[2018-12-14 02:12] jmzwcn commented on #410
when InnerRequest is exported, we could use it in the native js way, that will be very useful,
especially for two-way binding in angular.

[2018-12-14 15:50] bpicolo commented on #410
The fact that it's exported is fine, it's importing it in the ServiceClient that's an issue.

[2018-12-14 21:56] #408 closed

[2018-12-16 11:06] jonnyreeves opened #412 "Future Roadmap of Typescript Definition Generation"
👋 Hello, I'm one of the maintainers of ts-protoc-gen, we are currently [considering the future of our package in an RFC](https://github.com/improbable-eng/ts-protoc-gen/issues/145) and would appreciate your thoughts on the following topic which will help us steer our own roadmap.

It's great that `protoc-gen-grpc-web

[2018-12-17 20:40] wenbozhu commented on #270
@codesuki  could you share the generated code size v.s. dependencies respectively for your front-end project?  Optimizing protobuf-JS is not something we could do easily but grpc-web stub and runtime may have room for optimization.

[2018-12-19 20:53] TBoshoven commented on #289
I have observed the missing "end" event as well. Firefox on Linux, Envoy.
I'm getting about 50% success rates with my call.

[2018-12-20 19:37] y3llowcake opened #415 "Error callback never invoked for some classes of server response."
I have a grpc-web server that is returning 200 OK, and grpc-status / grpc-message, but the client javascript is failing to parse it. The observed behavior is that client requests never receive a completion callback from the library. See the request/response sample below.

The case below is likely related to: https://github.com/google/closure-library/issues/946 , however a quick review of the code

[2018-12-21 00:04] davemasterdave opened #416 "Runtime library typescript definition type error"
When running the typescript browser echo app demo, I was encountering a typescript compilation error with the streaming call (type mismatch for the request parameter).

Locally, I added the generic definition to the ```serverStreaming``` method for ```AbstractClientBase```

[code]
This fixed the compilation error for the typescript example for me locally.

[2018-12-22 14:58] QuentinBrosse commented on #415
I don't kown if my problem is in the scope of this issue but here is the explanation:
I have a gRPC server written in Go, my proxy is `envoy`, and I use the JS client of `grpc-web` in this mode: `import_style=commonjs,mode=grpcwebtext`.

In case of error, the JS Client don't handle the error. For example, this call return a valid GRPC error in headers:
[code]

[2018-12-22 15:12] QuentinBrosse commented on #415
Hi @y3llowcake !
I don't kown if my problem is in the scope of this issue but here is the explanation:
I have a gRPC server written in Go, my proxy is `envoy`, and I use the JS client of `grpc-web` in this mode: `import_style=commonjs,mode=grpcwebtext`.

If my server resturns a gRPC error, the JS Client don't handle the error. For example, this call returns a valid GRPC error in headers:
![5037574

[2018-12-22 17:20] evanj commented on #415
I'm running into the same issue while I'm debugging my implementation of a grpc-web server. If I return an incorrectly encoded response, the grpc-web Javascript client just drops it. Instead, I would expect to get a gRPC error response with code INTERNAL probably? I can provide a more detailed reproduction if that would be useful.

[2018-12-22 21:05] evanj opened #417 "Errors should have .details to match the NodeJS API"
The NodeJS grpc API returns the gRPC error's detail message in a `.details` attribute, and also uses it as part of `.message` (e.g. [code](https://github.com/grpc/grpc-node/blob/633736225ac4f8ce05bd246ffe576616e9290615/packages/grpc-native-core/src/common.js#L83) / [test](https://github.com/grpc/grpc-node/blob/master/test/api/error_test.js#L479)). grpc-web does NOT set `.details`: https://github.c

[2018-12-22 21:19] evanj opened #418 "Response with code != OK triggers both success and error callbacks"
It is possible for gRPC responses to both have a code set to something that is not `OK`, and still have a response. For example, the following Python server code will return that payload, using the official gRPC implementation:

[code]

On the wire, this returns first the correctly serialized response object, then a headers block with `grpc-status: 10` and `grpc-message: error details`.

When usin

[2018-12-22 21:43] evanj opened #419 "Response with different protobuf type causes assertion error, not error callback"
The gRPC server response could be anything, including a different protocol buffer message than the one the client expects. In this case, the decoding will throw an assertion error, and the error callback is never called. It appears that `jspb.BinaryReader`'s API is that is throws these assert errors on parse failures. This means grpc-web needs to catch them. The NodeJS implementation reports this

[2018-12-24 04:38] jared2501 commented on #344
I'd be really interested in seeing a fetch implementation, even if it requires some sort of flag to select. Afaik XHR will keep the full response in-memory as long as the request is in progress, therefore for long-lived server streaming methods (such as subscription-style notifications endpoints) grpc-web is untenable.

We're using improbably-eng's grpc-web fetch transport and it works great. Woul

[2018-12-24 07:09] wenbozhu commented on #344
@jared2501  Yes, we are working on this.

Binary streams support hasn't been a priority for us as we use a yet-to-be-published text based encoding format for protobuf. Also cookie domains can't serve binary data due to security issues.

The main use case to support fetch is to run grpc-web from service workers. The buffering issue is definitely a concern too.

OTOH, long-lived server-push will hav

[2018-12-27 07:00] chenxiang-roadstar opened #420 "426 error code when using nginx as react.js frontend proxy"
Hi,
We are using java grpc backend with standard envoy as proxy server. We deploy these two image as sidecar in kubernetes server.  It works fine if we directly using IP address like http://10.0.0.1/ from react.js. But when we try to use nginx as react.js frontend proxy. below is our nginx conf:
    location /grpc {
        proxy_pass_request_headers      on;
        proxy_set_header Content-Type

[2018-12-27 10:52] jjbubudi commented on #270
Will need to dig into the bundled code but at a glance I believe it's because of the same reason as this:
https://github.com/protocolbuffers/protobuf/pull/5509

Currently in `build.js`, it looks like closure compiler's advanced optimizations feature is not turned on, so the bundle ended up containing redundant code because there is no tree shaking. To fix this we will need to:
1. Turn on advanced

[2018-12-27 10:58] jjbubudi commented on #270
FYI, as of v1.0.3 the bundle size of `grpc-web` alone is:
- 217.4KB minified, uncompressed
- 51.4KB minified, gzipped

Ref: https://bundlephobia.com/result?p=grpc-web@1.0.3

[2018-12-27 17:10] Yannic commented on #270
I think @jjbubudi is right, I'm seeing smaller bundle sizes and we use advanced optimizations for all our code (I don't have exact numbers to share here because there is more compiled into our bundles, but our files are smaller than the sizes mentioned above).

If we go ahead and add `@export` annotations to the public APIs, can we do that in separate files, or at least add an option to turn that

[2018-12-27 18:11] Yannic commented on #270
Wow, that's great news @jjbubudi!
Unfortunately, `--generate_exports` won't help in my case. We use `@export` in our library to export public parts of the API.

However, `@export` is translated to `goog.export{Symbol,Property}`. Manually writing these and guarding them by a compile-time constant would be an option. It's a tiny bit more work, but doesn't increase the compiled size because of dead c

[2018-12-27 18:44] jjbubudi commented on #270
Ah, ok. I've submitted PR #422. Looks like it needs to be further updated to avoid affecting existing Closure users.

[2018-12-28 11:16] bryanburgers opened #423 "Document browser support"
I’m on a team evaluating gRPC-web. I can’t find anywhere in the readme or in any of the introductory blog posts any mention of what browsers are supported.

Is there any information about what features a browser needs to support in order to do gRPC-Web?

I guess, specifically, the question will be what is the minimum version of IE that a client will need to use a web app built with gRPC-Web?

[2018-12-28 14:51] jjbubudi commented on #270
@Yannic Actually, looking deeper at the optimized code, Closure Compiler has stripped away all the `goog.exportX` calls and merely leaving 1 little line of prototype alias code. I'd think when using `@export` the increase in code size should be negligible but we gain a lot in maintainability.

Here is the pretty printed version of the new bundle FYI: https://gist.github.com/jjbubudi/86549bd597ffc4

[2018-12-28 18:53] kwispel0 opened #424 "How to get custom error payload?"
I have the following simple service definition:

[code]

As you see, I have a custom `Error` definition. This holds a service-specific status code. The service is evaluating the given text and returning an error if the text is not appropriate. In my Java application, I am doing the following to return an `Error` object:

[code]

My question now is: How can I get the `Error` payload in my JS applic

[2018-12-28 19:59] johanbrandhorst commented on #424
See my answers in #399.

[2018-12-29 18:56] VladymyrPavlov commented on #420
Hi,
May be this help you. [gRPC + Nginx](https://www.nginx.com/blog/nginx-1-13-10-grpc/)

[2018-12-29 19:11] chenxiang-roadstar commented on #420
hi,found out just need to specify Nginx proxy http version as http 1.1

[2018-12-29 19:11] #420 closed

[2019-01-01 15:43] evanj opened #425 "Grpc-Message header is not percent decoded"
The gRPC specification states "[Status-Message is [...] physically encoded as UTF-8 followed by percent-encoding.](https://github.com/grpc/grpc/blob/master/doc/PROTOCOL-HTTP2.md#responses)" However, the gRPC-Web client does not percent decode the error detail. The official NodeJS gRPC client does.

Example response payload:

[code]

The gRPC-Web client decodes this into an error object with detail

[2019-01-02 09:02] xxgreg opened #426 "Clarify streaming support in readme"
In `readme.md`, under Wire Format Mode:

I assume this is out of date since there are examples of client and bidi-streaming in the echo server example.

[2019-01-02 09:12] xxgreg commented on #426
Ah - I see these were only in `echo.proto` and this is not yet supported by grpc-web.

I was investigating using client streaming to handle requests, which are usually small, but may contain up-to 10MB of data. I'm a bit worried that this will be a problem with the 4MB message size limit.

[2019-01-02 09:12] #426 closed

[2019-01-02 23:03] TBoshoven commented on #289
I noticed that for streams with no items in them, I never get the "status" event, so the work-around does not really help.

[2019-01-03 12:45] maeb opened #428 "Field names of generated Typescript (typings) objects are UpperCamelCase"
If https://github.com/protocolbuffers/protobuf/pull/5449 gets merged it would be convenient if the generator generated the names of object fields using lowerCamelCase.

The `JSFieldName` function used for formatting calls `ToUpperCamelCase` which only makes sense when generating the getter/setter functions (getUpperCamelCaseFunctionName/setUpperCamelCaseFunctionName).

https://github.com/grpc/grpc

[2019-01-04 20:34] johanbrandhorst commented on #428
This bug is causing incompatibilities when using the grpc-web typescript typings with well known types. For example, for the `google.protobuf.Duration` type, the following is generated:

[code]

This causes compilation errors since the official typings for the well known duration type define it as follows:
(ref: https://github.com/DefinitelyTyped/DefinitelyTyped/blob/6537c15a2877a99b2eee9875e7644b

[2019-01-06 01:53] oswee commented on #298
I see this is closed, but actually the same issue there when following - https://github.com/grpc/grpc-web/tree/master/net/grpc/gateway/examples/helloworld guide. Just reporting.

[2019-01-06 02:11] oswee commented on #380
Docker-compose works on Fedora 29, but still have the same error: `14, upstream connect error or disconnect/reset before headers`. Copy/Pasted code from Hello World example.

[2019-01-06 15:39] theobouwman opened #431 "VueJS + Grpc-Web "Module not found: Error: Can't resolve""
I've created a fresh VueJS application with TypeScript functionality.

When I generate using:
[code]

I get the following files:
<img width="193" alt="screenshot 2019-01-06 at 16 37 46" src="https://user-images.githubusercontent.com/16098190/50738172-762cdf00-11d1-11e9-9fb8-273fba66802e.png">

When I move them to `src/_protos` in my VueJS project and try to `import { PlatformClient } from '@/_prot

[2019-01-07 20:51] #416 closed

[2019-01-08 00:03] #428 closed

[2019-01-08 00:37] stanley-cheung commented on #423
gRPC-Web was built using the Google Closure library so we support whatever browsers supported by the Google Closure library. Looks like some of the features might not work with IE8 or below. IE9 or newer should be fine.

[2019-01-08 00:37] #423 closed

[2019-01-08 00:40] stanley-cheung commented on #412
Yea,  b) is definitely a short-term stop gap strategy here. We had been talking with the protobuf team to see how we can add TypeScript support to the official protocolbuffers JS implementations. When we have more concrete details, we will definitely share it here.

[2019-01-08 11:19] QuentinBrosse commented on #380
Yes, the `14, upstream connect error or disconnect/reset before headers` message means that envoy can't establish the connection to the target (cluster).

[2019-01-08 16:42] theobouwman commented on #195
@shineabel I have this issue. How did you solve it?

[2019-01-09 09:56] pumano commented on #431
looks like you not resolve it properly at typescript config? You use @ sign, it properly resolve path?

[2019-01-09 12:16] theobouwman commented on #431
@pumano that resolves to `src/`

[2019-01-09 12:22] pumano commented on #411
Yes, defferent import styles. I add that "note" to documentation because I found that problem too. Just use commonjs as js_out and typescript for grpc_out.

I use commonjs for js_out and commonjs+dts for grpc-web_out. It works good.

[2019-01-09 18:47] goodmind commented on #340
Why there is no support for custom generators, like in swagger-codegen and openapi-generator?

[2019-01-09 20:53] wenbozhu commented on #340
@goodmind  could you file a separate "feature request" on this, assuming we are talking about openapi/swagger specifically here?

[2019-01-10 09:38] xzzh999 opened #432 "client side http2 support?"
Hi~  great work!

Now i want to use ```grpc-web``` as the client side and [```grpc-java```](https://github.com/grpc/grpc-java) as the server side to make the rpc call,
but after request code called, there were some error:

**proto**
[code]

**request** (http)
[code]
**error**
[code]
and then i **change the request** to **https**:
[code]
the **errors:**
[code]

How should i to solve this ?  and **i

[2019-01-10 17:52] stanley-cheung commented on #432
Direct http/2 connection to gRPC backend is currently not supported.

[2019-01-10 17:52] #432 closed

[2019-01-11 00:48] eberkund commented on #431
I also have this issue, with and without `@` sign.

[2019-01-11 01:08] stanley-cheung commented on #431
`--js_out=import_style=typescript:.`: this doesn't work. The message part of the .proto generated by `protoc --js_out=` only supports `import_style=commonjs` or `import_style=closure`. You need to use the former.

`--grpc-web_out=import_style=typescript` will output a minimal set of typings for the messages in a `.d.ts` file.

[2019-01-11 01:49] goodmind commented on #340
@wenbozhu no, I mean support custom generators without recompiling everything and hardcoding

[2019-01-11 01:51] goodmind opened #434 "Custom code generators"
Support custom code generators, without recompiling and hardcoding them in https://github.com/grpc/grpc-web/blob/master/javascript/net/grpc/web/grpc_generator.cc#L53

[2019-01-11 05:53] eberkund commented on #431
Thanks @stanley-cheung that fixed it for me

[2019-01-11 06:51] sirudog commented on #132
@wenbozhu Can you please elaborate a bit more what this means and what the consequences are when having a long-running server-streaming?
I have a subscription use case I am working on at the moment, using nginx as proxy. I send an empty subscribe request to my backend grpc server, and it returns a stream of responses. After a while I get ERR_CONNECTION_RESET error in the browser.
Could this "in-ba